<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Новости</span>
                <div class="breadcrumbs">
                    <a href="/admin/dashboard" class="breadcrumb__link">Главная</a>
                    <span class="breadcrumbs__arrow">></span>
                    <a href="" class="breadcrumb__link">Новости</a>
                </div>
            </div>
            <div class="info-header__page-actions ">
                <a href="#" @click="showForm()" class="page-actions__action page-actions__action--remove remove"><img src="/public/admin/img/add-file.png" alt="remove">Добавить новость</a>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div v-if="successful" class="success-publish" >Новость была успешно добавлена.</div>
            <div v-if="deleting" class="success-delete" >Новость была успешно удалена.</div>
            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Новость
                        </div>
                        <div class="popup__content popup__content--full">
                            <input hidden name="article_id" v-model="c_article.id" />
                            <label for="country_id">Выберите категорию</label>
                            <select v-model="c_article.category_id" name="category_id">
                                <option v-for="category in  categories" :key="category.id" :label="category.name" :value="category.id">
                                </option>
                            </select>
                            <p></p>
                            <label for="name" class="columns__33p-column">Название новости</label>
                            <input required v-model="c_article.name" type="text" class="columns__50p-column" name="name">
                            <span v-if="errors.name" class="error" >Такая новость уже существует</span>
                            <p></p>
                            <label for="period_name" class="columns__33p-column">Описание</label>
                            <textarea id="tinymce_textarea" v-model="c_article.description" name="description"></textarea>
                            <p></p>
                            <label for="name" class="columns__33p-column">Мета-тег Description</label>
                            <textarea rows="5" v-model="c_article.meta_description" name="meta_description" >{{ c_article.meta_description }}</textarea>
                            <p></p>
                            <label for="name" class="columns__33p-column">Мета-тег Keywords</label>
                            <textarea rows="5" v-model="c_article.meta_keywords" name="meta_keywords" >{{ c_article.meta_keywords }}</textarea>
                            <p></p>
                            <label for="period_name" class="columns__33p-column">Превью новости</label>
                            <img v-if="c_article.preview" class="img-flag" v-model="c_article.preview" :src="'/public/storage/Article/'+ c_article.preview"/>
                            <input  :required="!c_article.preview" type="file" class="columns__50p-column" name="preview" ref="preview" >
                            <p></p>
                            <label for="country_id">Похожая новость 1</label>
                            <select v-model="c_article.add_article_1" name="add_article_1">
                                <option v-for="article in  articles" :key="article.id" :label="article.name" :value="article.id">
                                </option>
                            </select>
                            <p></p>
                            <label for="country_id">Похожая новость 2</label>
                            <select v-model="c_article.add_article_2" name="add_article_2">
                                <option v-for="article in  articles" :key="article.id" :label="article.name" :value="article.id">
                                </option>
                            </select>
                            <p></p>
                            <label for="country_id">Похожая новость 3</label>
                            <select v-model="c_article.add_article_3" name="add_article_3">
                                <option v-for="article in  articles" :key="article.id" :label="article.name" :value="article.id">
                                </option>
                            </select>
                            <p></p>
                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Сохранить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--checkboxes">
                                <thead>
                                <tr>
                                    <td>Название новости</td>
                                    <td>Категория</td>                                   
                                    <td>Ссылка</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="article in articles">
                                    <td>{{ article.name }}</td>                                  
                                    <td><span v-if="article.category">{{ article.category.name }}</span></td>
                                    <td><a target="_blank" :href="'/'+article.slug">{{ article.name }}</a></td>
                                    <td>
                                        <a @click="handleUpdate(article)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <a @click="handleDelete(article)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return{
                categories:[],
                articles:[],
                seen:false,
                successful:false,
                deleting:false,
                errors:false,
                c_article:[],
            };
        },
        created(){
            axios.post('/admin/categories').then(response => (this.categories = response.data));
            axios.post('/admin/articles').then(response => (this.articles = response.data));
        },
        methods: {
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            create: function(event){
                $('#tinymce_textarea').val(tinyMCE.activeEditor.getContent());

                axios.post('/admin/article/create', new FormData(this.$refs.form))
                    .then(
                        response => (
                            axios.post('/admin/articles').then(response => (this.articles = response.data)),
                            this.successful = true,
                            this.seen = false,
                            this.errors = [],
                            this.hideSuccessMessage(),
                            this.clear()
                        )
                    )
                    .catch(
                        error => (
                            this.errors =  error.response.data.errors
                        ));
            },
            handleUpdate: function (article) {
                this.errors = [];
                if(article.description){
                    tinyMCE.activeEditor.setContent(article.description);
                }
                this.seen = true;
                this.c_article = Object.assign({}, article);
            },
            handleDelete: function (article) {
                var check = confirm("Вы уверены, что хотите удалить "+article.name+" ?");
                if (check == true) {
                    axios.post('/admin/article/delete/id='+article.id)
                        .then(
                            response => (
                                axios.post('/admin/articles').then(response => (this.articles = response.data)),
                                    this.seen = false,
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
            clear () {
                const preview = this.$refs.preview;
                preview.type = 'text';
                preview.type = 'file';
            },
            showForm: function(){
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_article.id = null;
                this.c_article.preview = false;
                this.errors = [];
            },
        }
    }

</script>

<style scoped>
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        border-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        border-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .popup__wrap{
        width: 50%;
        overflow: scroll;
        height: 80%;
    }

    .table--checkboxes td:first-child {
        width: 30%;
    }


    .table-actions__action--edit{
        cursor: pointer;
    }


    .error{
        color: red;
    }
</style>


