<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Категории</span>
                <div class="breadcrumbs">
                    <a href="/admin/dashboard" class="breadcrumb__link">Главная</a>
                    <span class="breadcrumbs__arrow">></span>
                    <a href="#" class="breadcrumb__link">Категории</a>
                </div>
            </div>
            <div class="info-header__page-actions ">
                <a href="#"  @click="showForm()" class="page-actions__action page-actions__action--remove remove"><img src="/public/admin/img/add-file.png" alt="remove">Добавить Категорию</a>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div v-if="successful" class="success-publish" >Категория была успешно добавлена.</div>
            <div v-if="deleting" class="success-delete" >Категория была успешно удалена.</div>

            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Категория
                        </div>
                        <div class="popup__content popup__content--full">
                            <input hidden name="category_id" v-model="c_category.id" />
                            <p></p>
                            <label for="name" class="columns__33p-column">Название категории</label>
                            <input v-model="c_category.name" required type="text" class="columns__50p-column" name="name">
                            <span v-if="errors.name" class="error" >Категория уже существует</span>
                            <p></p>
                            <label for="name" class="columns__33p-column">Мета-тег Description</label>
                            <textarea rows="5" v-model="c_category.meta_description" name="meta_description" >{{ c_category.meta_description }}</textarea>
                            <p></p>
                            <label for="name" class="columns__33p-column">Мета-тег Keywords</label>
                            <textarea rows="5" v-model="c_category.meta_keywords" name="meta_keywords" >{{ c_category.meta_keywords }}</textarea>
                            <p></p>
                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Сохранить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--checkboxes">
                                <thead>
                                <tr>
                                    <td>Название категории</td>
                                    <td>Ссылка</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="category in categories">
                                    <td>{{ category.name }}</td>
                                    <td><a target="_blank" :href="'/category/'+category.slug">{{ category.name }}</a></td>
                                    <td>
                                        <a @click="handleUpdate(category)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <a v-if="!category.check_article_before_delete"  @click="handleDelete(category)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                categories:[],
                category_id:[],
                seen:false,
                successful:false,
                deleting:false,
                errors:[],
                c_category:[]
            };
        },
        created(){
            axios.post('/admin/categories').then(response => (this.categories = response.data));
        },
        methods: {
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            create: function(event){
                axios.post('/admin/category/create', new FormData(this.$refs.form))
                    .then(
                        response => (
                            axios.post('/admin/categories').then(
                                response => (this.categories = response.data)),
                            this.successful = true,
                            this.seen = false,
                            this.errors = [],
                           this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.errors =  error.response.data.errors
                        ));
            },
            handleUpdate: function (category) {
                this.errors = [];
                this.seen = true;
                this.c_category = Object.assign({}, category);
            },
            handleDelete: function (category) {
                var check = confirm("Вы уверены, что хотите удалить?");
                if (check == true) {
                    axios.post('/admin/category/delete/id='+category.id)
                        .then(
                            response => (
                                axios.post('/admin/categories').then(response => (this.categories = response.data)),
                                    this.seen = false,
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
            showForm: function(){
                this.successful = false;
                this.seen = true;
                this.errors = [];
                this.c_category.id = null;
            },
        }
    }

</script>

<style scoped>
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        border-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        border-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        border-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .img-flag{
        width: 30px;
        height: 30px;
    }

    .popup__wrap{
        width: 300px;
    }
    .table--checkboxes td:first-child {
        width: 30%;
    }

    .table-actions__action--edit{
        cursor: pointer;
    }

    .error{
        color: red;
    }

</style>


