//---------------------------------------------FILE_FONTS----------------------------------
@font-face 
    font-family: 'ProximaNovaLight'
    src: url('../fonts/ProximaNova/ProximaNovaLight.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaLight.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNovaLight.eot?#iefix') format('embedded-opentype')
    font-style: normal
    font-weight: normal

@font-face 
    font-family: 'ProximaNovaRegular'
    src: url('../fonts/ProximaNova/ProximaNovaRegular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaRegular.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNovaRegular.eot?#iefix') format('embedded-opentype')
    font-style: normal
    font-weight: normal

@font-face 
    font-family: 'ProximaNova-Semibold'
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype')
    font-style: normal
    font-weight: normal

@font-face 
    font-family: 'ProximaNova-Bold'
    src: url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype')
    font-style: normal
    font-weight: normal

@font-face 
    font-family: 'icomoon'
    src: url('../fonts/icomoon/icomoon.ttf?6clsjw') format('truetype'), url('../fonts/icomoon/icomoon.woff?6clsjw') format('woff'), url('../fonts/icomoon/icomoon.svg?6clsjw#icomoon') format('svg'),  url('../fonts/icomoon/icomoon.eot?6clsjw#iefix') format('embedded-opentype')
    font-weight: normal
    font-style: normal


[class^="icon-"], [class*=" icon-"] 
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-cart:before 
    content: "\e905"
    color: #000

.icon-camera:before 
    content: "\e902"

.icon-vk:before 
    content: "\e901"

.icon-info-with-circle:before 
    content: "\e903"

.icon-instagram:before 
    content: "\e900"

.icon-star:before 
    content: "\e904"

.icon-facebook:before 
    content: "\ea90"

.icon-twitter:before 
    content: "\ea96"

