@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

@media only screen and (max-width : 1120px)
    .get-search
        flex-wrap: wrap
    .home-type__block
        padding: 15px
        width: 115px
    
@media only screen and (max-width : 1125px)
    .prop-page__container_flex-order_v2
        .search-result-item__prev-text_flex
            flex-direction: column
            width: calc(100% - 245px)        
    .search-result-item__price_flex
        padding-left: 0
    .container_padd-none
        padding: 0
        
// @media only screen and (max-width : 1120px)
//     .search-form__char_v2_marg-right:nth-child(3n)
//         margin-right: 20px
        
@media only screen and (max-width : 1105px)
    .prop-page__container_flex-order_v2
        .search-result-item__prev-text
            width: calc(100% - 245px)
        .search-result-item__prev-text_flex
            flex-direction: column
            width: calc(100% - 245px) 
            
@media only screen and (max-width : 1095px)
    .search-form-sides__l-side
        max-width: 100%
    .search-form-sides__r-side
        padding-left: 0
        max-width: 100%
        padding-bottom: 15px
    .search-form-sides__r-side_inline
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        padding-top: 6px
        .search-form__sect
            width: auto
            padding-bottom: 0
            padding-top: 0
            &_marg-bot
                margin-bottom: 0
                margin-right: 20px
        .search-form__btn
            align-self: flex-end
            margin-top: 0
    // .search-form-sides__l-side
    //     max-width: 100%
        
@media only screen and (max-width : 1080px)
    .search-page-ws-map .search-page-block__l-side
        // width: 100%
        // max-width: 100%
        max-width: 0
        width: 100%
        .search-result
            display: flex
            flex-wrap: wrap
            padding: 10px 10px
            .search-result-item
                flex: 1 1 100%
                margin: 10px
    .search-form__sect .search-form__char.max-width 
        max-width: 100%
    .search-page-block__l-side
        max-width: 100%
    .search-form__sect
        justify-content: flex-start
        .search-form__char
            max-width: 225px
            margin-right: 20px
            &:last-child
                margin-right: 0
    .search-form__sect
        // &_min-width
        //     max-width: 245px
        &_min-max-width
            max-width: 360px
        &_mid-min-width
            max-width: 400px
        &_mid-width
            max-width: 490px
        &_padd-none
            padding-top: 20px
    .search-form__block
        padding: 0 15px
        &_padd-bot
            padding-bottom: 20px
    .search-form-char__select_marg-bott
        margin-bottom: 0
    .search-form__checkbox-label_margin
        margin-top: 10px
 
    .search-page-block__l-side_full-width .search-result
        padding: 20px 15px       
@media only screen and (max-width : 1070px)
    .prop-page__container_flex-order_v4
        .prop-page-l-col
            max-width: 660px
    .prop-page__container_flex-order_v3
        .box-sides__l-side
            max-width: 140px
        .box-sides__r-side
            width: calc(100% - 140px)
        .prop-page-r-col
            max-width: 270px
            
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

    .get-search 
        .home-searc-el 
            &_accommodation 
                .get-search__select 
                    border-radius: 0 
            &_price-wrap 
                .home-searc-el_price:last-child 
                    .get-search__select 
                        border-radius: 0 


    .home-searc-el
        &_price
            width: 50%
            input
                width: 100%
                // text-align: center
            &-wrap
                max-width: 100%
                width: 100%
                width: auto
                flex: 1 1 100% !important
        &_btn
            margin: auto
            margin-top: 20px
            width: 220px !important
            button
                width: 100%
                max-width: 100%







    .search-result-item
        &__prev-text_flex
            flex-direction: row
            flex: 1 1 355px
            flex-wrap: unset
            width: 100%
        &__text-block
            display: none
            &_full-width
                display: block
    .search-form__char_v2
        padding-bottom: 10px

    .form_v2__container_flex-start .search-form__char_v2
        padding-bottom: 10px
    .prop-page-l-col__slider
        padding-top: 15px
    .prop-page__container_flex-order_v3
        flex-direction: column
        .prop-page-l-col__order_v2
            max-width: 100%
            order: 2
        .prop-page-r-col__order_v2
            max-width: 100%
            padding-left: 0
        .prop-page-r-col__contacts-title
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 100%
        .prop-page-r-col__your-rating
            padding-right: 15px
        .prop-page-r-col__all-contacts
            padding-top: 18px
            flex: 1 1 auto
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start
        .prop-page-r-col__contacts
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
        .prop-page-r-col__contacts-item
            width: 100%
            height: 16px
        .prop-page-l-col-description__text-block_media .prop-page-r-col__contacts-item
            max-width: 100%
            margin-bottom: 15px
            height: auto
        .prop-page-r-col__contacts-item_media-text
            max-width: 100%
            width: 100%
            height: auto
            padding: 15px 0
        .short-block
            max-width: 231px
        .confirmed_padd-bott 
            padding-right: 20px
        .search-result-item__prev-text_flex
            flex-direction: row
            flex-wrap: unset
            width: 100%
        .prop-page-r-col__email
            order: 2
@media only screen and (max-width : 920px)
    .prop-page-l-col-description__option
        max-width: 160px
@media only screen and (max-width : 900px)
    .prop-page-r-col_v2-media
        padding: 20px 10px
@media only screen and (max-width : 885px)
    .wrap-agent-cart-and-verifi__padding-bug-fix
        padding-left: 0px
    .prop-page__container_flex-order_v2
        .prop-page-r-col__contacts
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
        .confirmed_padd-bott
            padding-right: 0
        .prop-page-r-col
            padding: 0
        
    
    .customer-card-sidebar-wrap
        align-items: flex-start
        flex: 1 1 auto
    .prop-page__container_flex-order_v2
        display: flex
        flex-direction: column
        .prop-page-r-col__contacts-title
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 100%
        .prop-page-r-col__your-rating
            padding-right: 15px
        .prop-page-r-col__your-desc
            &_width
                width: auto
        .prop-page-r-col__all-contacts
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start
        .prop-page-r-col__contacts-item
            width: 100%
            height: 16px
        .prop-page-r-col__contacts-item_media-text
            max-width: 100%
            width: 100%
            height: auto
            padding: 15px 0
        .prop-page-r-col__email
            order: 2
        .prop-page-r-col__on-site-form
            order: 1
        .short-block
            max-width: 231px
    .prop-page-l-col__order_v2
        order: 2
        max-width: 100%
    .prop-page-r-col__order_v2
        order: 1
        max-width: 100%
    .prop-page-l-col-description__text-block_media
        padding-top: 15px
        .prop-page-r-col__contacts-item
            max-width: 100%
            margin-bottom: 15px
            height: auto
    .prop-page-r-col__order_v2
        justify-content: flex-end
    .prop-page-r-col__btn-v2_media
        width: 225px
    .search-result-item__price_order .search-result-features__flex-column
        order: unset
        padding-top: 0px
    .search-result-item__price_order .search-result-features__items .search-result-item__on-time
        order: unset

@media only screen and (max-width : 855px)
    .all-tenant
        justify-content: space-between
    .prop-page-r-col_v2-media
        margin: 0 5px 15px
        max-width: 100%
        flex: 1 1 250px
        &:empty
            display: none
        
@media only screen and (max-width : 815px)
    .search-form_v2__container_flex-start
        .search-form__char_v2_marg-right
            .search-result__select
                min-width: 140px
@media only screen and (max-width : 810px)
    .search-form__sect
        &_min-width
            max-width: 100%
        &_min-max-width
            max-width: 100%
        &_mid-min-width
            max-width: 100%
        &_mid-width
            max-width: 100%
    .search-form__sect .search-form__char
        max-width: 215px
    .search-form__checkbox-label_margin
        margin-top: 20px
        
@media only screen and (max-width : 795px)
    .block-flex-inline_column
        flex-direction: column
    .search-result-item__price_flex
        align-items: center
        flex-direction: row
        padding-bottom: 10px
        
@media only screen and (max-width : 781px)
    .search-form_v2__container_media-v2
        justify-content: space-between
        .search-form__char_v2
            margin: 0 0 5px
            max-width: 48%
        
@media only screen and (max-width: 885px) and (min-width: 610px)
    .prop-page-r-col.prop-page-r-col__order.prop-page-r-col__order_v2.customer-card-sidebar-wrap
        display: block
        box-sizing: border-box  
        overflow: hidden
    .wrap-agent-cart-and-verifi
        width: calc(50% - 20px)
        margin-left: 20px
        min-width: 0
        .prop-page-r-col__btn-v2_media
            width: 100%
        &:not(.wrap-agent-cart-and-verifi_agentcy)
            float: left
        &.wrap-agent-cart-and-verifi_agentcy
            float: right
        
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .prop-page__container_flex-order
        display: flex
        flex-direction: column
    .prop-page-r-col__order
        order: 1
        max-width: 100%
        padding: 0 0 25px
    .prop-page-l-col__order
        order: 2
        max-width: 100%
    .prop-page-r-col__contacts-title
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 100%
    .prop-page-r-col__your-rating
        padding-right: 15px
    .prop-page-r-col__contacts
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-start
    .confirmed_padd-bott
        padding-right: 20px
        .prop-page-r-col__all-contacts
            padding-top: 32px
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start
        .prop-page-r-col__contacts-item
            max-width: 155px
            width: 100%
            height: 16px
            margin-bottom: 0
        .prop-page-r-col__email
            order: 2
        .prop-page-r-col__on-site-form
            order: 1
        .short-block
            max-width: 260px
    .prop-page-l-col_half-width
        max-width: 450px
    .prop-page-r-col__contacts-item_marg-none
        max-width: 100%
    .search-form_v2__container
        justify-content: space-between
    .prop-page-r-col__your-desc_full-width,
    .prop-page-r-col__all-contacts_full-width
        width: 100%
    .search-form__char_v2-media,
    .search-form__char_v2-media-three
        width: 30%
        margin-right: 0
    .search-form_v2__container_flex-start
        justify-content: flex-start
        align-items: center
    .header__blocks.menu-btn 
        display: block
    
    .header__blocks.take 
        position: absolute
        flex-direction: row
        flex-wrap: wrap
        top: 57px
        left: 0
        padding: 0
        background: #000
        z-index: 99
        width: 100%
        max-height: 0px
        overflow: hidden
        transition: .3s
    
    .header__blocks.take.opened 
        max-height: 500px
        height: unset
    
    .header__links-blocks 
        flex-direction: row
        flex-wrap: wrap
        align-items: flex-start
        margin-right: 0
        border-bottom: none
        padding: 0 15px
        width: 100%
    
    .header__links-blocks.dropped 
        justify-content: center
        flex: 1 1 70px
    
    .header__links-blocks.take 
        border-top: 1px solid #dadada
        justify-content: center
    
    .header__blocks
        min-height: unset
    
    .header__select .selectize-input,
    .header__select 
        margin: 0
    
    .black-bg 
        background: #000
        
    .header_white .header__menu-block 
        border: 0
    
    .header_white .header__links 
        color: #fff
        height: unset
    
    .header_white .header__links:hover 
        border-bottom: none
        color: #fff
    
    .header__menu-links:hover
        color: #fff
    
    
    .header__links 
        padding: 15px 0
        border-bottom: none
    
    .header__links:hover 
        border-bottom: none
        color: #42c3d0
    
    .header__links.active 
        color: #42c3d0
    
    .header__links-img.open 
        display: block
    
    .header__links-img.open.show 
        display: none
    
    .header__links-img.close 
        display: none
    
    .header__links-img.close.show 
        display: block
    
    .header__menu 
        position: relative
        top: 0
        width: 100%
    
    .header__menu-block 
        background: #000
        padding: 0
    
    .header__menu-paragraph 
        padding-bottom: 15px
        padding-left: 30px
    
    .header__menu-links 
        color: #fff
        font-size: 16px
        transition: .5s
    
    .header_white .header__links .link-icon.add
        display: none
  
@media only screen and (max-width : 754px)
    .prop-page__container_flex-order_v3 
        .search-result-item__prev-text_flex
            flex-direction: column
        .search-result-item__block-desc
            width: 100%
        .search-result-item__title
            width: 100%
            
@media only screen and (max-width : 731px)
    .search-form__sect .search-form__char
        padding-top: 10px
    .search-form-sides__r-side_inline
        .search-form__char
            padding: 0
            
@media only screen and (max-width : 714px)
    .search-form_v2__container_flex-start_media
        .search-form__char_v2
            margin-bottom: 15px
        .search-form__char_v2_marg-bot-none
            margin-bottom: 0

@media only screen and (max-width : 710px)
    .box-sides__add-block
        display: flex
        flex-direction: column

    .box-sides__add-block.full-width
        flex-direction: row
    
@media only screen and (max-width: 635px) 
    .prop-page-l-col-description__address-title
        margin-bottom: 15px

@media only screen and (max-width : 620px)
    .search-result_pad-none
        padding: 20px 0
        .search-result-item
            padding: 20px 10px
        
@media only screen and (max-width : 613px)
    .prop-page__container_flex-order_v3
        .search-result-item
            padding: 20px 10px
        
@media only screen and (max-width : 610px)
    .dropped
        .prop-page-r-col__all-contacts
            justify-content: flex-end
        .prop-page-r-col__email
            order: unset
        .prop-page-r-col__your-desc_full-width,
        .prop-page-r-col__all-contacts_full-width
            width: 100%
        .prop-page-r-col__all-contacts_full-width
            justify-content: flex-start

    .prop-page-r-col.prop-page-r-col__order.prop-page-r-col__order_v2.customer-card-sidebar-wrap
        display: block
        box-sizing: border-box  
        padding-right: 20px

    .wrap-agent-cart-and-verifi
        width: 100%
        margin-left: 20px
        min-width: 0
        .prop-page-r-col__btn-v2_media
            width: 100%

@media only screen and (max-width : 601px)
    .search-form-sides__r-side_inline
        flex-direction: column
        .search-form__sect_marg-bot,
        .search-form__char
            margin-right: 0
            width: 100%
            max-width: 100%
            padding-bottom: 20px
        .search-form__btn
            align-self: flex-start
        
@media only screen and (max-width : 600px)
    // .header__select .selectize-input,
    // .header__select
    //     margin: 0
    // .black-bg
    //     background: $black
    // .header__blocks
    //     &.menu-btn
    //         display: block
    //     &.take
    //         position: absolute
    //         flex-direction: row
    //         flex-wrap: wrap
    //         top: 57px
    //         left: 0
    //         padding: 0
    //         background: $black
    //         z-index: 99
    //         width: 100%
    //         max-height: 0px
    //         overflow: hidden
    //         transition: .3s
    //         &.opened
    //             max-height: 500px
    //             height: unset
    // .header__links-blocks
    //     flex-direction: row
    //     flex-wrap: wrap
    //     align-items: flex-start
    //     margin-right: 0
    //     border-bottom: none
    //     padding: 0 15px
    //     width: 100%
    //     &.dropped
    //         width: calc(50% - 30px)
    //         justify-content: center
    //     &.take
    //         border-top: 1px solid $lld-white
    //         justify-content: center
    // .header_white .header__menu-block
    //     border: 0
    // .header_white .header__links
    //     color: $white
    //     height: unset
    //     &:hover
    //         border-bottom: 0
    // .header__links
    //     padding: 15px 0
    //     border-bottom: none
    //     &:hover
    //         border-bottom: none
    //         color: $d-aqua
    //     &.active
    //         color: $d-aqua
    // .header__links-img
    //     &.open
    //         display: block
    //         &.show
    //             display: none
    //     &.close
    //         display: none
    //         &.show
    //             display: block
    // .header__menu
    //     position: relative
    //     top: 0
    //     width: 100%
    //     &-block
    //         background: $black
    //         padding: 0
    // .header__menu-paragraph
    //     padding-bottom: 15px
    //     padding-left: 30px
    // .header__menu-links
    //     color: $white
    //     font-size: 16px
    //     transition: .5s
    .footer
        &__top
            flex-direction: column
        &__l-side,
        &__r-side
            width: 100%
            text-align: center
        &__logo-p
            max-width: 100%
        &__links-block
            flex-direction: column
            padding-top: 10px
            &_soc
                flex-direction: row
                justify-content: space-between
                max-width: 100px
                margin: 0 auto
                li:first-child
                    width: 100%
                    padding-bottom: 10px
        &__links
            margin-left: 0
            padding-top: 5px
    .home-title__h1
        font-size: 35px
    .home-type__block
        padding: 15px 10px 10px
        width: 105px
    .prop-page__container_flex-order_v3
        .box-sides
            flex-direction: column
        .box-sides__add-block
            width: 100%
            max-width: 100%
            margin-right: 0
            flex-direction: row
            padding-bottom: 5px
        .box-sides__r-side
            flex-direction: column
            width: 100%
            &.wrap
                flex-direction: row
    .prop-page__container_flex-order_v3 .box-sides__l-side
        display: flex
        flex-direction: row
        max-width: 100%
        padding-bottom: 10px
        p
            margin-right: 20px
            margin-bottom: 0
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev
        right: 0
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next
        left: 0

@media only screen and (max-width : 562px)
    .search-result-item__price-sum-wrap
        text-align: center
    .search-result-features__items
        &>div
            margin: auto
    .prop-page-l-col__order_v2 .search-result-item__photo
        margin: auto
    .search-result-item__preview_pab-bott
        flex-direction: column
    .search-result-item,
    .prop-page-l-col-comments__comment
        padding: 20px 10px
    .accommodation-hide.flex
        margin-right: 0

    .accommodation-hide.flex .search-form__char_v2_min-width
        margin-right: 20px

    .accommodation-hide.flex .search-form__char_v2_min-width:last-child
        margin-right: 0px

    .search-result-item__flag
        left: -10px
    .search-result-item__in-price
        padding-top: 0
    .search-result-features__items
        padding-top: 13px
    .search-result-item__prev-text
        width: 100%
        padding: 0
    .search-page-ws-map
        .search-result-item__preview
            flex-direction: column
            align-items: center
        .search-result-item__price-sum-wrap
            margin: auto
            text-align: center
    .search-result-item__title_width
        width: calc(100% - 85px)
    .search-result-item__star-rating_absolute
        &.relative
            top: 21px
            right: 10px
    .search-result-item__price_order .search-result-features__flex-column
        padding-top: 0
    .search-result-features__items
        order: 2
    .search-result-item__price_order .search-result-features__items .search-result-item__on-time
        order: unset
    .block-flex-inline
        flex-direction: column
    .search-result-item__price_flex
        align-items: flex-start
        padding-bottom: 10px
    .search-result-item__preview_nowrap
        flex-wrap: wrap
        justify-content: center
    .search-form_v2__container_flex-start
        justify-content: space-between
        .search-form__char_v2
            margin-right: 0
    .reg-page-form
        padding: 20px 15px
        margin: 15px
    .search-form_v2__container_flex-start_media
        justify-content: flex-start
        .search-form__char_v2
            margin-right: 20px
    .prop-page__container_flex-order_v2 .search-result-item__prev-text
        width: 100%
    .search-result-item__price_order .search-result-features__items
        position: relative
        width: 100%
        
@media only screen and (max-width : 586px)
    .all-tenant
        flex-direction: row
        justify-content: center
    .search-form_v2__container_media
        flex-direction: column
        align-items: flex-start
    .search-form__char_v2-media,
    .search-form__char_v2-media-three
        width: 100%
        max-width: 100%
    .search-form_v2__container_media-v2
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        .search-form__char_v2
            margin: 0 0 5px
            max-width: 100%
    .prop-page-l-col-comments__comment-head
        flex-direction: column
        align-items: flex-start
    .prop-page-l-col-comments__rating-date
        align-items: flex-end
        margin-left: auto
        padding-top: 10px
        
@media only screen and (max-width : 527px)
    .box-sides:last-child
        flex-direction: column
        .box-sides__l-side
            margin-bottom: 15px
        .box-sides__r-side
            width: 100%
            
@media only screen and (max-width : 520px)

    .search-form__sect.no-wrap
        flex-wrap: wrap

    .search-result__select_middle
        max-width: 100%

    .accommodation-hide.flex
        width: 100%
        flex-wrap: wrap

    .accommodation-hide.flex .search-form__char_v2_min-width
        width: 100%
        margin-right: 0


    .search-result
        padding: 20px 15px
    .search-result__sort
        flex-wrap: wrap
        padding: 0 0 20px
        width: 100%
    .search-result__sort-select
        width: 100%
        padding: 5px 0
    .search-result__select
        width: 100%
    .search-result__number
        min-width: 61px
    .search-form__sect
        padding-top: 0
        .search-form__char
            max-width: 100%
            margin-right: 0
            padding: 10px 0
            width: 100%
    .search-result__sort-select_flex
        justify-content: space-between
    .search-form__checkbox-label_margin
        margin-top: 0
    .search-form__checkbox-block
        padding: 10px 0
    .prop-page-l-col-description__address-title
        padding-bottom: 15px
    .search-result_pad-none
        padding: 20px 0
    .search-form_v2__container_flex-start 
        .search-form__char_v2_marg-right
            max-width: 100%
            padding-bottom: 10px
        .search-form__char_v2
            max-width: 100%
            padding-bottom: 10px
    .search-form__char_v2_min-width
        max-width: 107px
        min-width: 107px
    .search-form_v2__container_flex-start_media
        .search-form__char_v2
            margin-right: 0
            width: 100%
        .reg-page-form__input_middle-width
            width: 100%
    
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .home-title__h1
        font-size: 22px
    .search-result-features__item
        font-size: 12px
        margin-right: 15px
    .search-result-date-btn__date
        margin-bottom: 10px
        
@media only screen and (max-width: 550px)
    .search-form__block,
    .search-form-sides__l-side,
    .search-page-block__l-side_full-width .search-result
        padding-left: 0
        padding-right: 0 
    .error-advert
        flex-wrap: wrap
        flex-direction: column

    .error-text
        margin-right: 0
        margin-bottom: 20px
  
    .dropped
        .prop-page-r-col__all-contacts
            height: auto
            width: 100%
            display: block
        .prop-page-r-col__your-desc
            width: 100%
        .prop-page-r-col__contacts-item
            max-width: 100%
    .prop-page-r-col__contacts
        display: block
    .prop-page-r-col__your-rating
        padding-right: 0
    .prop-page-r-col__contacts-item_marg-none
        margin-bottom: 10px
    .prop-page-l-col_inline
        flex-wrap: wrap
    .prop-page-r-col__btn-v2_media
        margin: 0 auto
    .confirmed_padd-bott
        padding-bottom: 5px
        padding-top: 5px
    
@media only screen and (max-width : 420px)
    .prop-page-l-col-comments__img-block
        justify-content: space-between
    .prop-page-l-col-comments__img
        width: 48%
        height: 100%
        margin: 0 0 13px

        
@media only screen and (max-width : 400px)
    .search-result-item__address
        max-width: 100%
        
@media only screen and (max-width : 388px)
    .prop-page__container_flex-order_v2 .confirmed_padd-bott
        padding-bottom: 5px
        padding-top: 5px
@media only screen and (max-width : 380px)
    .search-form__link-block
        width: auto

@media only screen and (max-width : 366px)
    .prop-page-l-col-description__option
        max-width: 100%
        width: 100%
@media only screen and (max-width : 330px)
    .search-result-item__photo
        margin-left: auto
        margin-right: auto
        max-width: 100%
        img
            width: 100%
        
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

