//          ----------------------------------------------------------------------//
//          ///////////////////////////////////////////////////////////////////////   
//     
//          ///////   /////// /////////// ////    ///////  // //       // /////////
//        //     // //     //    //    //    // //     // // ////     // //
//       //     // //           //    //    // //     // // // //    // //
//      //     // //           //    //    // ///////   // //  //   // //////
//     //     // //           //    //////// //    //  // //   //  // //
//    //     // //     //    //    //    // //     // // //    // // // 
//    ///////   ///////     //    //    // //     // // //     //// /////////
//     
// ////////////////////////////////////////////////////////////////////////  
//----------------------------------------------------------------------//    


@import 'vars'   
@import 'fonts'

//-------------------------STANDART_STYLES------------------------------

*
    margin: 0
    padding: 0
    font-family: $proxima-r
.test-ul
    list-style-type: decimal
.test-ul
    padding-left: 17px
.test-ul2
    padding-left: 20px
[hidden]
    display: none
p,
// span,
h1,
h2,
h3
    cursor: default
b
    font-family: $proxima-b

.pre-line-text
    white-space: pre-line
  
.container
    max-width: 1170px
    height: 100%
    padding: 0 15px
    margin: 0 auto
    width: calc(100% - 30px)
    &_full
        max-width: 1920px
        margin: 0 auto
a
    cursor: pointer
    color: #000
    text-decoration: underline
    &:hover
        text-decoration: none
input[type=text],
input[type=email]
    cursor: text
h1
    font-size: 24px
    font-family: $proxima-sb
h2
    font-size: 20px
    font-family: $proxima-sb
h3
    font-size: 16px
    font-family: $proxima-sb

//лепим футер к низу
.height_helper
    min-height: 100vh
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    
//стрелки селектов
.select
    height: 34px
    box-shadow: none
    border: 1px solid $lld-white
    height: 34px
    display: flex
    align-items: center
    outline: none
    @extend %radius4
    &:focus
        color: $black
        background: $white
//стрелки свипера
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev
    background-image: url(../img/arrow_right.png)
    background-size: cover
    width: 11px
    height: 19px
    margin-top: -6px
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next
    background-image: url(../img/arrow_right.png)
    background-size: cover
    width: 11px
    height: 19px
    margin-top: -6px
    transform: rotateY(180deg)
    
.aqua-btn
    display: block
    width: 100%
    line-height: 34px
    min-height: 34px
    @extend %radius4
    outline: none
    border: none
    background: $aqua
    font-size: $fzn
    color: $white
    cursor: pointer
    font-family: $proxima-sb
    text-decoration: none
    text-align: center
    &:hover
        background: $d-aqua
    &_white
        background: $white
        border: 1px solid $aqua
        color: $aqua
        text-align: center
        svg
            height: 1.2em
            margin-bottom: -0.2em
            width: auto
            margin-right: 8px
            fill: #17adbc
        &:hover
            color: $white
            border: 1px solid transparent
            svg
                fill: #fff
.grey-btn
    display: block
    width: 100%
    line-height: 34px
    min-height: 34px
    @extend %radius4
    outline: none
    border: none
    background: $lld-gray
    font-size: $fzn
    color: $white
    cursor: pointer
    font-family: $proxima-sb
    text-decoration: none
    text-align: center
    &:hover
        background: $d-aqua

.confirm-btn
    display: block
    width: 90px
    line-height: 23px
    height: 23px
    background: none
    border: 1px solid $white
    color: $white
    @extend %radius4
    margin-left: 15px
    cursor: pointer
    padding: 0 10px
    text-decoration: none
    text-align: center
    &:hover
        color: $l-red
        background: $white
//для блока range на странице search.html
.range 
    width: 95%
    margin: 20px auto 0
#minCost
    margin-right: 10px
.ui-slider 
	position: relative
.ui-slider .ui-slider-handle 
    position: absolute
    z-index: 1
    width: 8px
    height: 8px
    cursor: pointer
.ui-slider .ui-slider-range 
	position: absolute
	z-index: 1
	font-size: .7em
	display: block
	border: 0
	overflow: hidden
.ui-slider-horizontal 
	 height: 1px
.ui-slider-horizontal .ui-slider-handle 
    top: -4px
    margin-left: -6px
    background: $aqua
    border-radius: 50%
    outline: none
.ui-slider-horizontal .ui-slider-range 
	top: 0
	height: 100%
.ui-slider-horizontal .ui-slider-range-min 
	left: 0
.ui-slider-horizontal .ui-slider-range-max 
	right: 0
.ui-widget-content 
	background: $lld-white
.ui-widget-header  
	border: 1px solid $aqua
	background: $aqua

//----------------------------HOME_PAGE----------------------------------

.page-bg
    position: relative
.home-page-bg
    background: url(../img/home-page-bg.jpg) center
    background-size: cover
    min-height: 100vh
    width: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    z-index: -1
    




//-----------------------------HEADER---------------------------------
.header
    background: $black
    height: 56px
    border-bottom: 1px solid $lld-white
    transition: .3s
    padding: 0 15px
    &_white
        background: $white
        
        .header
            // &__menu
            //     box-shadow: 0 0 29px rgba(0,0,0,0.11)
            //     &-block
            //         border: 1px solid $lld-white
            &__links
                color: $ld-gray
                &_wishlist
                    svg
                        height: 1.2em
                        margin-bottom: 0.1em
                        width: auto
                        margin-right: 8px
                        fill: #727272
                        transition: .3s
                    &:hover
                        svg
                            fill: $d-aqua
                &:hover
                    border-bottom: 2px solid $aqua
                    color: $d-aqua
                    // .link-icon
                    //     &.add
                    //         background: url("../img/add_aqua.svg")
                    //         background-size: contain
                    //     &.lock
                    //         background: url("../img/lock_aqua.svg")
                    //         background-size: contain
                    //     &.exit
                    //         background: url("../img/exit_aqua.svg")
                    //         background-size: contain
                // .link-icon
                //     height: 16px
                //     width: 16px
                //     display: inline-block
                //     margin-bottom: 3px
                //     margin-right: 5px
                //     transition: .3s
                //     &.add
                //         background: url("../img/add_dark_gray.svg")
                //         background-size: contain
                //     &.lock
                //         height: 18px
                //         width: 18px
                //         margin-right: 3px
                //         background: url("../img/lock.svg")
                //         background-size: contain
                //     &.exit
                //         background: url("../img/exit.svg")
                //         background-size: contain
            &__menu 
                box-shadow: 0 0 29px rgba(0,0,0,0.11)

                    
    &__container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 100%

    &__blocks
        display: flex
        flex-direction: row
        min-height: 56px
        height: 0
    &_white
        .header
            // &__menu
            //     box-shadow: 0 0 29px rgba(0,0,0,0.11)
            //     &-block
            //         border: 1px solid $lld-white
            &__links
                .link-icon
                    height: 16px
                    width: 16px
                    display: inline-block
                    margin-bottom: 3px
                    margin-right: 5px
                    transition: .3s
                    &.lock
                        height: 18px
                        width: 18px
                        margin-right: 3px
                        background: url(../img/lock.svg)
                        background-size: contain
                    &.user 
                        height: 18px
                        width: 18px
                        margin-right: 3px
                        background: url(../img/user.svg) center
                        -webkit-background-size: 38px
                        background-size: 38px
    
                    &.exit
                        background: url(../img/exit.svg)
                        background-size: contain
                    &.add
                        background: url(../img/add_aqua.svg) center
                        background-size: cover
                &:hover
                    .link-icon
                        &.add
                            background: url("../img/add_aqua.svg") center
                            -webkit-background-size: cover
                            background-size: cover
                        &.lock
                            background: url("../img/lock_aqua.svg")
                            background-size: contain
                        &.user 
                            background: url("../img/user_aqua.svg") center
                            background-size: 38px
        
                        &.exit
                            background: url("../img/exit_aqua.svg")
                            background-size: contain
    &__blocks
        &.menu-btn
            flex-direction: column
            cursor: pointer
            display: none
            height: 20px
            min-height: 20px
            .bar1,
            .bar2,
            .bar3
                width: 25px
                height: 2px
                border-radius: 5px
                background: #000
                margin-bottom: 5px
                transition: 0.4s
            .bar3
                margin-bottom: 0
            .change.bar1
                -webkit-transform: rotate(-45deg) translate(-9px,6px)
                transform: rotate(-45deg) translate(-7px,5px)
            .change.bar2
                opacity: 0
            .change.bar3
                -webkit-transform: rotate(45deg) translate(-8px,-8px)
                transform: rotate(45deg) translate(-5px,-3px)
            .change.bar1,
            .change.bar2,
            .change.bar3
                background: $white
        &_padd
            padding: 15px 0
            margin-right: 20px
    &__links-blocks
        position: relative
        display: flex
        align-items: center
        margin-right: 30px
        position: relative
        &:last-child
            margin-right: 0
    &__links
        color: $white
        text-decoration: none
        display: flex
        align-items: center
        border-bottom: 2px solid transparent
        transition: .3s
        font-size: $fzm
        cursor: pointer
        height: 100%
        &:hover
            border-bottom: 2px solid $white
        &_black
            color: $ld-gray
            &:hover
                border-bottom: 2px solid $aqua
    &__links-img
        height: 20px
        padding: 15px 0
        position: absolute
        right: 15px
        display: none
    &__menu
        position: absolute
        left: 0
        top: 57px
        min-width: 215px
        overflow: hidden
        max-height: 0
        transition: .3s
        z-index: 50
        &.open
            max-height: 800px
        &-block
            background: $white
            @extend %radius4
            padding: 10px 20px
        &-paragraph
            list-style: none
            padding: 10px 0
        &-links
            text-decoration: none
            color: $black
            font-size: $fzn
            &:hover
                color: $aqua
    &__select
        margin-right: 60px
        width: 90px
        background: transparent
        padding: 5px 8px
        color: $white
        vertical-align: middle
        font-size: $fzm
        border: 1px solid $lld-white
        
            
            
//----------------------------HOME_PAGE_BLOCK---------------------------
.home-page-block
    padding: 160px 0 50px
.home-title
    text-align: center
    color: $white
    &__h1
        font-size: 43px
        padding-bottom: 10px
        text-shadow: 0 0 18px #000
    &__p
        font-size: $fzm
        padding: 10px 0 15px
    &__logo
        width: 290px
        height: auto
        max-width: 100%

.home-type
    padding-top: 15px
    display: flex
    flex-direction: column
    max-width: 970px
    margin: auto
    flex-wrap: wrap
    align-items: flex-end
    justify-content: center
    padding-bottom: 27px
    .form-search
        display: flex
        flex-direction: column
        align-items: flex-end
    &__link
        text-decoration: none
        cursor: default
    &__block
        width: 120px
        padding: 20px 25px
        background: $white
        @extend %radius10
        text-align: center
        margin: 0px 5px 10px
        cursor: pointer
    &__img
        margin-bottom: 15px
        max-height: 53px
    &__name
        text-transform: uppercase
        font-size: $fzn
        color: $ld-white
        cursor: pointer
    & > .home-searc-el
        position: relative
        width: 140px
        min-height: 56px
        transition: 0.5s
        width: 180px
        height: 68px
        .search-form__btn
            width: 100%
            height: 100%
            float: right
            border-radius: 0
.home-button-block
    display: flex
    justify-content: center
    &__button
        max-width: 159px
            
//--------------------------------FOOTER-------------------------------- 

.footer
    background: $dd-gray
footer
    .container
        height: auto
.footer
    &__top
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 35px 0
    &__l-side
        width: 50%
    &__logo
        margin-bottom: 10px
    &__logo-p
        color: $white
        max-width: 300px
        font-size: $fzn
    &__r-side
        width: 50%
        display: flex
        flex-direction: column
    &__links-block
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
        flex-wrap: wrap
        min-height: 21px
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0
    &__links
        list-style: none
        margin-left: 22px
        &:first-child
            margin-left: 0
        &_soc
            margin-left: 30px
    &__link
        font-size: $fzn
        color: $white
        text-decoration: none
        transition: .3s
        border-bottom: 1px solid transparent
        img
            cursor: pointer
            &:hover
                .st0
                    // fill: $d-aqua
        &:hover
            border-bottom: 1px solid $d-aqua
            color: $d-aqua
        &_soc
            &:hover
                border-bottom: 1px solid transparent
    &__bottom
        border-top: 1px solid $d-gray
        text-align: center
        height: 60px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
    &__bottom-text
        color: $white
        font-size: $fzn
            
//---------------------------SEARCH_PAGE-----------------------
.search-page-block
    display: flex
    flex-direction: row
    justify-content: space-between
    position: relative
    .search-form__checkbox_width
        max-width: unset
        width: unset
        margin-right: 10px
    &__l-side
        max-width: 580px
        width: 100%
        overflow: auto
        &_full-width
            max-width: 100%
    &__r-side
        max-width: 1370px
        width: 100%
    &__map
        width: calc(100% - 580px)
        overflow: hidden
        position: relative

.search-page-ws-map
    .search-page-block
        display: flex
        flex-direction: row
        justify-content: space-between
        position: relative
        .search-form
            &__sect
                &.get-location-block
                    &.active-location
                        &.get-copy
                            align-self: flex-end
                            padding-top: 0
            &__checkbox_width
                max-width: unset
                width: unset
                margin-right: 10px
            &__block
                &.padd
                    padding: 0 20px 20px
                    display: flex
                    justify-content: space-between
                    align-items: flex-start
                    &>*
                        flex: 1 1 510px
                        max-width: 510px
                        margin-right: 20px
                        height: auto
                        display: flex
                        align-items: flex-end
                        flex-wrap: wrap
                        &.search-form__link-block
                            min-width: 100%
                
                    .get-location__wrap
                        padding: 20px 0
                        padding-top: 0
                        display: flex
                        justify-content: space-between
                        align-items: flex-start
                        flex: 1 1 510px
                        max-width: 510px
                        &:after, &:before
                            content: ''
                            display: block
                            flex: 1 1 510px
                            max-width: 510px
                            margin-right: 20px
                            height: auto
                            display: flex
                            align-items: flex-end
                            flex-wrap: wrap
                            order: 9999
                        &>*
                            flex: 1 1 510px
                            max-width: 510px
                            margin-right: 20px
                            height: auto
                            display: flex
                            align-items: flex-end
                            flex-wrap: wrap
                            &.search-form__link-block
                                width: 100%
                                flex: 1 1 100%
                                
        &__l-side
            max-width: 580px
            width: 100%
            transition: 0.5s
            max-height: calc(100vh - 57px)
            overflow: auto
            &.main-map_hide
                max-width: 100%
            &_full-width
                max-width: 100%
        &__r-side
            max-width: 1370px
            width: 100%
            &.main-map
                max-width: 100vw
                transition: 0.5s
                &_hide
                    max-width: 0
                    &__map
            width: 100%
            height: calc(100vh - 57px)
            overflow: hidden
            position: relative
    .search-result
        display: flex
        flex-wrap: wrap
        padding: 20px 10px
        &-item
            width: 100%
            flex: 1 1 500px
            margin-right: 10px
            margin-left: 10px
            &__photo
                border-radius: 0
                min-width: 0

.left-info-window 
    opacity: 0
    position: absolute
    top: 0
    left: -580px
    z-index: 40
    background: #fff
    width: 580px
    max-height: calc(100vh - 57px)
    height: 100%
    transition: .3s
    &-wrap
        padding-top: 20px
        height: 100%
        max-height: calc(100vh - 57px)
        overflow: auto
    &.show
        opacity: 1
        left: 0
    &.show-more
        opacity: 1
        left: 0


    &.top 
        top: 0
        position: fixed
    .gm-style-iw
        &:not(:first-child)
            .btn-close
                display: none

    .address-block 
        min-height: 50px
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 15px
        border-bottom: 1px solid #dadada
        margin-bottom: 20px


    .btn-close 
        background: url(../img/close.svg) center no-repeat
        background-color: #fff
        background-size: 20px 20px
        width: 30px
        height: 30px
        border-radius: 50%
        transition: .3s
        cursor: pointer
        &:hover 
            background-color: #dadada61


.search-form-char__select_marg-bott
    margin-bottom: 20px
.search-form
    &__block
        border-bottom: 1px solid $lld-white
        display: flex
        flex-direction: row
        flex-wrap: wrap
        &_padd-bot
            padding-bottom: 20px
        &_resized
            max-height: 1000px
            overflow: hidden
            transition: 1s
            &.hide
                max-height: 0
                padding-bottom: 0
                border-bottom: none
        &_sides
            display: flex
            flex-direction: row
            justify-content: space-between
    &__sect
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        padding-top: 20px
        width: 100%
    &__link
        &_edit
            margin-left: auto
            margin-right: 20px

.search-form_v2__container.get-location-block,
.search-form__sect
    &.get-location-block
        position: relative


.search-form__sect.get-location-block .get-location-block__delete
    position: absolute
    right: 0
    top: 20px
    cursor: pointer


.get-location-block.location .get-location-block__delete
    display: none


.search-form__sect
    &.no-wrap
        -webkit-flex-wrap: nowrap
        -ms-flex-wrap: nowrap
        flex-wrap: nowrap
    
    &_btn
        width: 100% !important
        max-width: 100% !important
        flex: 1 1 100% !important


.search-form__sect:first-child
    padding-top: 20px

.full-size  
    width: 100% 

.search-form
    &__sect
        &_marg-bot
            padding-bottom: 20px
        &_flex-start
            justify-content: flex-start
        &_padd-none
            padding-top: 0
    &__char
        min-width: 140px
        margin-right: 20px
        &:last-child
            margin-right: 0
        &-text
            line-height: 34px
            text-transform: uppercase
            font-weight: 300
            font-size: 14px
        &_width-auto
            max-width: inherit
            min-width: inherit
            width: auto
            padding-right: 10px
        &_marg-right
            margin-right: 20px
        &_v2
            max-width: 225px
            width: 100%
            margin-right: 20px
            &.marg-none
                margin: 0
            &_marg-right
                max-width: 233px
                &:nth-child(3n)
                    margin-right: 0
            &_marg-top
                margin-top: 5px
            &_min-width
                max-width: 140px
            &_inline
                max-width: 260px
                width: auto
                display: flex
                flex-direction: row
                align-items: center
            &_full-width
                max-width: 100%
            &-media
                width: calc(20% - 20px)
                display: flex
                flex-direction: column
                justify-content: space-between
                &-three
                    width: calc(30% - 20px)
        &_middle-width
            max-width: 182px
        &:not(.flat-hide) 
            &:last-child 
                margin-right: 0 
                flex: 1 1 0 
                display: flex 
                flex-wrap: wrap 
                max-width: 528px 
                .box-sides__checkbox-block_mid-width 
                    flex: 1 1 1px 
                    max-width: 100% 
                    width: auto 
        .selectize-control.single 
            .selectize-input:after
                background: url(../img/arrow_down.png)
    &__link-block
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        margin-right: 10px
        &_padd-none
            padding-top: 0
        &_padding
            padding-bottom: 20px
        &_inline
            justify-content: flex-start
    &__link
        font-size: $fzn
        color: $ld-gray
        text-decoration: none
        border-bottom: 1px dashed $ld-gray
        cursor: pointer
        &:hover
            color: $aqua
            border-bottom: 1px dashed $aqua
        &_inline
            margin-right: 25px
            &:last-child
                margin-right: 0
    &__label
        width: 100%
        display: block
        font-size: $fzn
        color: $ld-gray
        letter-spacing: .28px
        padding-bottom: 5px
        font-family: $proxima-l
        &_inline
            max-width: 75px
            text-align: right
            margin-right: 10px
            padding-bottom: 0
            font-size: 12px
        &_lite
            color: $ld-white
    &__trackbar-inputs
        padding: 8px
        width: 82px
        height: 16px
        display: inline-block
        @extend %radius4
        border: 1px solid $lld-white
    &__checkbox-block
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        align-items: center

.add-search-location
    margin-top: 10px
.checkbox-flex
    flex-basis: 405px
    flex-grow: 1
    .search-form__checkbox_width
        flex-basis: 120px
        max-width: unset
        width: unset
        margin-right: 10px

.search-form
    &__checkbox-block
        &_mid-width
            max-width: 245px
    &__checkbox
        margin-right: 10px
        &_width
            max-width: 120px
            width: 100%
            margin-right: 0
            margin-bottom: 8px
        &_width-large
            max-width: 200px
            width: 100%
            margin-bottom: 8px
            margin-right: 0
    &__checkbox-input
        width: 0
        height: 0
        opacity: 0
        position: absolute
        z-index: -9
    &__checkbox-label
        color: $black
        font-size: 14px
        letter-spacing: .52px
        position: relative
        padding-left: 22px
        display: block
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 15px
            height: 15px
            outline: none
            cursor: pointer
            border: 1px solid #dadada
        &_min-width
            min-width: 165px
            margin-bottom: 5px
    &__checkbox-input[type=checkbox]:checked + label:before
        border: 1px solid #000
        -webkit-border-radius: 2px
        border-radius: 2px
        background: #000
        content: "\2714"
        font-size: 12px
        color: #fff
        text-align: center
        line-height: 16px
    &__btn
        display: inline-block
        max-width: 160px
        &_position
            margin-top: 45px
            float: right
    &__sect-title
        width: 100%
        font-size: $fzn
        color: $lld-gray
        margin-bottom: 10px
    &__text_red
        color: $red
        font-size: $fzn
.search-form-sides
    &__l-side
        flex: 1 1 0
        padding-right: 50px
        width: 100%
    &__r-side
        max-width: 160px
        width: 100%

.search-form__char.max-width
    width: 100%

.search-form__char.max-width .search-form__trackbar-inputs
    width: calc(100% - 18px)

.search-form__block.padd
    padding: 0 20px 20px


.search-result
    padding: 20px
    &__sort
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 0 20px 20px
    &__sort-select
        display: flex
        flex-direction: row
        align-items: center
    &__number
        font-family: $proxima-l
        color: $ld-gray
        font-size: $fzn
        margin-right: 10px
        padding-bottom: 5px
    &__select
        min-width: 167px
        width: 100%
    .selectize-control.single 
        .selectize-input:after
            background: url(../img/arrow_down.png)
.reg-link
    color: #17adbc
    text-decoration: none
    &:hover
        text-decoration: underline
.search-result-item
    border: 1px solid $lld-white
    @extend %radius10
    padding: 20px
    margin-bottom: 10px
    position: relative
    &__photo-flag-wrap
        position: relative
    &_red
        border: 1px solid $d-red
    &_aqua
        border: 1px solid $aqua
    // &_orange
    //     border: 1px solid #fb8a31
    &__flag
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-start
        padding: 10px 20px
        padding-left: 10px
        position: absolute
        z-index: 1
        width: 144px
        height: 23px
        top: 0
        left: -20px
        color: $white
        font-size: 14px
        &_red
            background: url("../img/flag_red.svg") no-repeat
        &_aqua
            background: url("../img/flag_green.svg") no-repeat
        // &_orange
        //     background: url("../img/flag_orange.svg") no-repeat
    &__flag-svg
        width: 26px
        height: 26px
        margin-right: 10px
        margin-left: 6px
    &__title
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
        align-items: center
        width: calc(100% - 85px)
    &__address
        font-size: $fzm
        max-width: calc(100% - 80px)
        a
            color: #000
            text-decoration: none
            &:hover
                text-decoration: underline

    &__reviews-rating
        color: #000
        font-family: "Proxima Nova"
        font-size: 14px
        font-weight: 300
        line-height: 19px
        letter-spacing: 0.28px
    &__rating-wrap
        display: flex
        justify-content: space-between
        width: 100%
        padding-top: 8px
        span
            font-family: $proxima-l
    &__star-rating
        background: url(../img/star_epty.svg) 
        width: 75px
        height: 15px
        background-size: contain
        display: flex
        margin-left: auto
        // &.pointer
        //     cursor: pointer
        &_mar-bot
            margin-bottom: 15px
        &_height-v2
            height: 20px
            width: 100px
            min-width: 100px
        &_absolute
            position: absolute
            right: 20px
            top: 22px
    // &__one-star       
    //     background-size: contain
    //     height: 100%
    //     width: 20%
    //     display: inline-block
    //     &.filled,
    //     &.rating
    //         background: url(../img/star_filled.svg)
    //         background-size: cover
            
          
        
    &__star
        height: 100%
        background: url(../img/star_filled.svg)
        background-size: contain
        &_height-v2
            height: 20px
            width: 51px
    &__preview
        padding: 12px 0px 20px
        display: flex
        flex-direction: row
        justify-content: flex-start
        flex-wrap: wrap
        &_pab-bott
            padding: 12px 0 0
        &_pad-top
            padding-top: 5px
        &_pad-none
            padding: 0
        &_nowrap
            flex-wrap: unset
    &__photo
        max-width: 220px
        width: 100%
        min-width: 
        position: relative
        margin-bottom: 10px
        img
            min-width: 100%
            min-height: 100%
            margin: auto
            
        &-block
            position: relative
            width: 231px
            display: inline-block
            max-height: 225px
            overflow: hidden
            img 
                max-width: 100%
                max-height: 100%
    &__photo-amount
        position: absolute
        bottom: 12px
        left: 10px
        color: $white
        font-size: $fzn
    &__prev-text
        width: calc(100% - 230px)
        max-width: 50%
        padding-left: 10px
        &_flex
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: flex-start
            width: 100%
.search-result-item__prev-text_flex .search-result-item__block-desc
    max-width: 298px\0
    

.search-result-item
    &__prev-text
        &_flex
            &-column
                flex-direction: column
        &_max-width
            width: 63%
    &__price
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        &_flex
            display: flex
            flex-direction: column
            align-items: flex-end
            padding-left: 15px
        &_flex-row
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
    &__price-sum-wrap
        display: flex
        flex-direction: column
        &>*
            width: auto !important
    &__price-sum
        background: $black
        color: $white
        text-align: center
        @extend %radius4
        line-height: 28px
        min-width: 86px
        margin-right: 0px
        font-size: $fzn
        padding: 4px 16px
        margin-bottom: 5px
        &_large
            padding: 10px 20px
            margin-bottom: 10px
            margin-right: 0
            white-space: nowrap
        .sum
            font-weight: 300
            white-space: nowrap
            .search-result-item__on-time
                color: #fff
    &__currency
        text-transform: uppercase
        font-size: 11px
        &_lower
            text-transform: lowercase
    &__on-time
        color: $ld-gray
        font-size: $fzn
        font-family: $proxima-l
        &_center
            line-height: 29px
            padding-right: 10px
    &__bond
        color: $ld-gray
        font-size: $fzs
        font-family: $proxima-l
        padding: 4px 16px
        margin-bottom: 5px
        width: 100%
        &_for-couple
            background: $lld-gray
            color: $white
            text-align: center
            @extend %radius4
            line-height: 28px
            min-width: 86px
            margin-right: 0px
            font-size: $fzn

    &__in-price
        display: flex
        flex-direction: row
        flex-wrap: wrap
        padding-top: 15px
        width: 100%
        &_pad-top
            padding-top: 0
    &__in-price-title
        width: 100%
        color: $ld-gray
        font-family: $proxima-l
        font-size: $fzn
    &__include
        display: flex
        align-items: center
        padding: 5px 0 7px
        min-width: 106px
        font-size: $fzn
        font-family: $proxima-l
        color: $black
        img
            max-width: 21px
            max-height: 21px
    &__include-img
        max-width: 21px
        max-height: 21px
        margin-right: 5px
    &__date-dostupnosti
        padding-top: 13px
        font-size: $fzn
        font-family: $proxima-l
        color: $ld-gray
        &_padd-top
            padding-top: 0
        &_black
            color: $black
    &__text-block
        width: 100%
        font-size: $fzn
        
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical
        max-height: 6em
        overflow: hidden
        display: -webkit-box
        text-overflow: ellipsis
        &_full-width
            display: none
        &_padd
            padding: 15px 0 50px
    &__name
        margin-right: 30px

.search-page-ws-map
    .search-result-item
        box-sizing: border-box

        &_empty
            border: 0
            background: transparent
        &__price
            justify-content: flex-end

        &__in-price
            justify-content: flex-start

.features-item_first-margin
    margin-right: 5px
.search-result-features
    display: flex
    flex-direction: row
    flex-wrap: wrap
    &__items
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        padding-top: 5px
    &__item
        display: flex
        flex-direction: row
        align-items: center
        margin-right: 30px
        font-size: $fzn
        font-family: $proxima-l
        &_marg-right
            margin-right: 0
    &__flex-column
        display: flex
        flex-direction: column
.search-result-description
    padding: 15px 0
    &_pad
        padding: 5px 0 15px
    &__text
        font-family: $proxima-l
        font-size: $fzn
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical
        max-height: 6em
        line-height: 1.2em
        overflow: hidden
        display: -webkit-box
        text-overflow: ellipsis
.search-result-date-btn
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    &__date
        color: $ld-gray
        font-family: $proxima-l
        font-size: $fzn
        min-width: 105px
        flex: 1 1 0
    &__btn
        width: 160px
        min-width: 160px
    &__flex-block
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        max-width: 100%
        width: 360px
        flex-wrap: wrap
        .search-form__link-block
            width: auto
        .aqua-btn 
            margin-top: 12px
            margin-bottom: 12px
            flex: 1 1 0

.search-page-bottom
    border-top: 1px solid $lld-white
    padding: 35px 15px 55px
    &__text
        max-width: 1250px
        margin: 0 auto
.search-page-block-pagination
    text-align: center
    padding-bottom: 80px
.block-flex-inline
    display: flex
    flex-direction: row
    position: relative
    justify-content: space-between
    width: 100%
//-------------------------------------REG_PAGE--------------------------------------
.reg-page
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    min-height: 73vh
    height: 94%
.reg-page-form
    max-width: 400px
    width: 100%
    box-shadow: 0 0 29px rgba(0,0,0,0.11)
    border: 1px solid $lld-white
    @extend %radius10
    padding: 20px 30px
    margin: 15px 0
    &__title
        color: $aqua
        text-align: center
        margin-bottom: 20px
    &__input
        width: calc(100% - 18px)
        border: 1px solid $lld-white
        outline: none
        padding: 6px 8px
        @extend %radius4
        min-height: 16px
        resize: none
        &_textarea
            resize: none
            margin-bottom: 20px
        &_middle-width
            width: 167px
            display: inline-block
    &__char
        margin-bottom: 15px
        &_half
            width: 50%
    &__btn
        max-width: 160px
        margin: 20px auto 0
        &_left
            margin: 20px 0 0
            
//-----------------------------------PAGE_ONE_PROP-----------------------------------
            
.one-prop-page
    padding-bottom: 110px
.one-prop-page-stat
    margin-top: 15px
    padding: 5px 15px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    color: $white
    font-size: $fzn
    border-radius: 7px
    &_disabled
        background: $l-red
        opacity: .62
    &__svg
        width: 26px
        height: 26px
        fill: $white
        margin-right: 5px
    &_text-left
        justify-content: flex-start
.prop-page
    padding-top: 15px
    &__main-photo
        img
            cursor: pointer
    &__container
        display: flex
        flex-direction: row
        justify-content: space-between
    &_padd-top
        padding-top: 30px
    &_bg-leaf
        background: url(../img/nz-flag.png) center no-repeat
        background-size: contain
.prop-page-r-col
    max-width: 320px
    width: 100%
    &_v2
        margin: 0 5px 15px
    &_v2-media
        margin: 0 5px 15px
    &__age
        padding-top: 4px
    &__site-row
        position: relative
    &__site-ico
        width: auto
        height: 1.1em
        float: left
        margin-right: .3em
    p
        font-family: $proxima-l
    &__btn-wrap
        background: transparent
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        padding: 13px 20px
        a:not(:last-child)
            margin-bottom: 10px

    &__price
        background: $black
        color: $white
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin-bottom: 4px
        padding: 13px 20px
        @extend %radius4
        span:last-child
            flex-grow: 1
            text-align: right
            padding-left: 6px
        &_grey
            background: $ld-gray
            color: $white


    &__price-sum
        font-family: $proxima-sb
        font-size: $fzl
    &__price-curr
        text-transform: uppercase
        font-size: $fzn
        font-family: $proxima-l
        padding-left: 6px
    &__bond
        font-size: $fzn
        font-family: $proxima-l
        background-color: transparent
        color: $black
        padding-top: 1px
        padding-bottom: 1px
        span
            letter-spacing: 0.03em
            text-align: left
            font-size: 13px
            font-weight: 500
            &.sum
                padding-left: 6px
                font-family: $proxima-r
                
            &:last-child
                text-align: left
    &__bond-curr
        text-transform: uppercase
        padding-left: 6px
    &__contacts
        border: 1px solid $lld-white
        @extend %radius10
        margin: 10px 0
        background: $l-white
        padding: 15px 20px
        &_marg-bot
            margin: 0 0 10px
        &_bg-white
            background: $white
        .aqua-btn
            width: 100%
    &__contacts-title
        font-size: $fzn
        padding-bottom: 0
        b
            text-transform: capitalize
        &_flex
            display: flex
            flex-direction: row
            padding-bottom: 20px
            justify-content: space-between
    &__your-desc
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: flex-start
        padding-bottom: 10px
        margin-top: 10px
        min-height: 95px
        align-items: center
        &_pad-none
            padding-bottom: 0
        &_width
            width: auto
            &.prop-page-r-col__your-desc_pad-none
                margin-top: 0
            
    &__your-photo
        min-width: 80px
        max-height: 180px
        max-width: 80px
        height: 80px
        overflow: hidden
        border-radius: 100%
        margin-right: 10px
        text-align: center
        img
            object-fit: cover
        &_medium
            width: 63px
            min-width: 63px
            height: 63px
            flex: 0
            &+ * 
                max-width: calc(100% - 104px)
                padding-left: 20px
    &__photo
        display: block
        max-width: 100%
    &__desc-short
        font-size: $fzn
        flex: 1 1 auto
        min-width: 100px
        .prop-page-r-col__contacts-item
            padding-top: 4px
    &__name
        font-family: $proxima-sb !important
        text-decoration: none
        &:last-child
            margin-bottom: 0
        a
            color: #000
            text-decoration: none
            font-family: $proxima-sb
            font-size: 18px
            font-weight: 800
            line-height: 19px
            &:hover
                text-decoration: underline
    &__contacts-item
        margin-bottom: 10px
        font-size: 13px
        &:last-child
            margin-bottom: 0
        &_bold
            font-family: $proxima-sb
        &_marg-none
            margin-bottom: 0
    &__rating
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__your-rating
        max-width: 70%
    &__on-site-from
        color: $ld-gray
        &_font
            font-size: $fzn
            color: $ld-gray
            margin-bottom: 10px
    &__from-date
        color: $black
        &_font-size
            font-size: 14px
    &__verification
        color: $green
.prop-page-l-col
    max-width: 800px
    width: 100%
    &_inline
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &_half-width
        max-width: 340px
        width: 100%
    &_fourth-width
        max-width: 170px
        width: 100%
    &__slider-block
        padding-bottom: 25px
    &__swiper-slide-top
        display: flex
        align-items: center
    &__swiper-img
        max-height: 370px
        display: block
        margin: 0 auto
        max-width: 100%
    &__bottom-slider-preview
        position: relative
        padding-top: 4px
        padding-bottom: 2px

        .swiper-wrapper
            align-items: center
        .swiper-slide
            margin-top: 2px
            img
                margin: 2px
            &:before
                content: ''
                width: 100%
                height: 100%
                position: absolute
                opacity: 0
                background: #000
                transition: 0.4s
        .swiper-slide-active
            position: relative
            &:before
                opacity: 0.4

    &__gallery-thumb
        width: 90%


    

.prop-page-l-col__gallery-thumb .prop-page-l-col__swiper-wrapper-thumb 
    max-height: 100px

.prop-page-l-col__gallery-thumb .prop-page-l-col__swiper-wrapper-thumb .prop-page-l-col__swiper-img 
    max-height: 100px

.prop-page-l-col
    &__swiper-slide-thumbs
        max-height: 100px
    &__swiper-img-bot
        max-height: 100px
        display: block
        margin: 0 auto
        max-width: 100%
        cursor: pointer
    &__swiper-wrapper-top
        display: flex
        align-items: center
.prop-page-l-col-description
    padding: 20px 0 50px
    &__section
        border-bottom: 1px solid $lld-white
        padding-bottom: 35px
        margin-bottom: 20px
        &_bord-none
            border-bottom: none
    &__title
        padding-bottom: 20px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
    &__title-text
        margin-bottom: 10px
        width: 100%
    &__address-title
        padding-left: 30px
        position: relative
        &::before
            content: ''
            width: 20px
            height: 25px
            display: block
            background: url(../img/pointer.png) no-repeat
            background-size: cover
            position: absolute
            left: 0
            top: -3px
    &__address-btn
        width: 160px
    &__appartment-options
        padding-top: 15px
    &__options-title
        font-size: $fzn
        color: $ld-gray
        font-style: italic
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0
    &__options-state
        color: $black
        font-style: normal
        padding-left: 10px
    &__options
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: flex-start
        padding-bottom: 10px
    &__option
        width: 185px
        display: flex
        align-items: center
        margin-bottom: 20px
    &__option-img-block
        display: flex
        align-items: center
        width: 38px
        justify-content: center
    &__option-img
        margin-right: 10px
        max-width: 21px
        max-height: 21px
.prop-page-l-col-comments
    &_pad
        padding: 40px 0 50px
    &__block-title
        margin-bottom: 30px
    &__comment
        padding: 20px
        border: 1px solid $lld-white
        @extend %radius10
        margin-bottom: 10px
    &__comment-head
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__rating-date
        display: flex
        flex-direction: column
        align-items: flex-end
    &__date
        font-size: $fzn
        color: $ld-gray
        font-family: $proxima-l
    &__text
        padding: 10px 0 20px
        font-size: $fzn
    &__img-block
        display: flex
        flex-direction: row
        justify-content: flex-start
        flex-wrap: wrap
    &__img
        max-width: 161px
        max-height: 97px
        margin-right: 5px
        margin-bottom: 5px
        &:last-child
            margin-right: 0 
        // &.open-popup
        //     cursor: pointer
    &__btn
        width: 160px
        margin: 20px auto 0
            
//-------------------------------PAGE_FIND_TENANT_LANDLORD------------------------------
.find-tenant-page
    &__title
        padding: 25px 0 10px
        &_padd-bord
            padding: 25px 0 15px
            border-bottom: 1px solid $lld-white
.search-form_v2
    padding-bottom: 25px
    border-bottom: 1px solid $lld-white
    &__container
        display: flex
        flex-direction: row
        align-items: flex-end
        flex-wrap: wrap
        padding-top: 20px
        &_flex-top
            align-items: flex-start
        &_pad-none
            padding-top: 0
        &_bg
            background: $l-white
            padding: 20px
            margin: 15px 0
            .search-form__label_lite
                font-style: italic
                padding-bottom: 10px
    &__btn
        width: 160px
        &_marg-top
            margin-top: 27px
        &_min-marg-top
            margin-top: 5px
.confirmed
    font-size: $fzn
    display: flex
    align-items: center
    position: relative
    padding-left: 25px
    margin-left: 8px
    text-align: right
    &_padd-bott
        margin-bottom: 10px
        margin-top: 10px
    &__svg
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 18px
        height: 18px
        fill: $aqua
        &.search-tenant-advert-icon
            fill: #EA6C6C
    &_marg-top
        margin-top: 10px
        margin-bottom: 10px
.wrap-title
    position: relative
    line-height: 34px
    min-height: 34px
.show-agents
    cursor: pointer
    transition: 0.5s
    width: auto
    box-sizing: border-box
    padding: 0 3em 0 0
    position: relative
    display: inline-block
    background: transparent
    position: relative
    right: 0
    position: absolute
    color: #000
    font-size: 12px
    font-weight: 100
    &:after
        content: '>'
        display: block
        position: absolute
        right: 1em
        top: 0
        transition: 0.5s
        transform: rotate(90deg)
    &_agents-show
        &:after
            content: '>'
            transform: rotate(-90deg)
.all-tenant
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    padding-bottom: 30px
    .prop-page-r-col.prop-page-r-col_v2.prop-page-r-col_v2-media
        margin-left: 5px
        margin-right: 5px
    .aqua-btn
        width: 100%
    &__el
        flex: 1 1 0
        min-width: 200px
        max-width: 100%
        margin-left: 20px
        &:empty
            height: 0
            opacity: 0
            padding-top: 0
            padding-bottom: 0
            margin-top: 0
            margin-bottom: 0
    &__wrap
        margin-left: -20px
.prop-page-r-col
    &_v2
        padding: 20px
        border: 1px solid $lld-white
        @extend %radius10
        max-width: 238px
        width: 100%
        margin: 0 0 20px 0
        display: flex
        flex-direction: column
        justify-content: space-between
        &:empty
            border: 1px solid transparent
            margin-bottom: 0
            padding: 0 20px
        &__btn
            margin-top: 20px
            width: 160px
    &__block-pad
        padding: 15px 0 10px
        list-style: none
.tenant-block-pagination
    padding-bottom: 80px
    text-align: center
            
//-------------------------------PAGE_ADD_REAL_ESTATE-----------------------
.add-real-estate
    &_pad-top
        padding-top: 15px
    &__form-margin-fix
        margin-top: 70px
.box-sides
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    padding-bottom: 25px
    &.bord-none
        border: none


    &.bg 
        background: #f8f8f8
        padding: 10px 0 10px 15px !important
        margin: 10px 0 10px
        border: none
        width: calc(100% - 15px)
        position: relative


    &.bg .box-sides__l-side 
        max-width: 145px


    &:last-child 
        padding-bottom: 0px


    &__l-side
        max-width: 160px
        width: 100%
        &_centered
            display: flex
            align-items: center
    &__title
        color: $ld-gray
        font-size: $fzn
        margin-bottom: 15px
    &__delete
        cursor: pointer
        position: absolute
        right: 5px
        top: 5px
        &.prop-page.delete-accommodation,
        &.prop-page.delete-location
            position: relative
            right: unset
            top: unset
            color: #f98080

    &__r-side
        width: calc(100% - 160px)
        &_flex
            display: flex
            flex-direction: row
            &.wrap
                flex-wrap: wrap


    &__add-block
        max-width: 260px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin-right: 20px
        &.full-width
            max-width: unset
        &.text
            height: 145px
        &.text
            .box-sides
                &__add
                    height: 145px
        &_marg-none
            margin-right: 0
        &_full-width 
            max-width: 100%
    &__add
        width: 125px
        height: 125px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        @extend %radius4
        margin-right: 5px
        margin-bottom: 5px
        overflow: hidden
        position: relative
        &.height .block-photo
            border: 1px solid #17adbc
            min-height: 118px
            width: 118px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 4px
            overflow: hidden
            &:before 
                content: ''
                display: block
                position: absolute
                left: 0
                top: 0
                right: 0
                bottom: 0
                z-index: 1
        &.height .block-photo_document
            &:before 
                background: #fff url(../img/document.svg) center no-repeat
                content: ''
                display: block
                position: absolute
                left: 0
                top: 0
                right: 0
                bottom: 0
                z-index: 32
                background-color: #fff
            .box-sides__add-img
                height: auto
                width: auto
                min-width: 0
                object-fit: cover
        &.height
            input[type=file]
                &:before
                    z-index: 29
                &.file:before
                    border: none

.block-photo
    position: relative
    width: 120px
    min-height: 120px

.box-sides
    &__add-img_document
        z-index: 30
        position: absolute
        top: -1px\0
        left: -1px\0
        max-height: 120px
        height: 100%
        min-width: 120px
        pointer-events: none
        border: 1px solid #dadada
        -webkit-border-radius: 4px
        border-radius: 4px
        background: #fff url(../img/add.svg) center no-repeat
        cursor: pointer
    &__add-input
        z-index: 2
        opacity: 0
        &.dublicate + .box-sides__add-img,
        &.checked + .box-sides__add-img
            background: #fff
    &__add
        label
            display: none
        .add_photo_svg
            fill: $lld-white
            vertical-align: middle
            height: 28px
            &:hover
                border: 1px solid $aqua
                .add_photo_svg
                    fill: $aqua      
        input[type=file]
            width: 120px
            height: 120px
            overflow: hidden       
            @extend %radius4
            outline: none
            border: none
            position: absolute
            top: 0
            left: 0 
            color: transparent
            cursor: pointer
            &.checked,
            &.checked:hover
                &::before
                    border: 1px solid $aqua
                    background: #fff
            &:not(.file)
                &:hover
                    border: none
            //         border: 1px solid $aqua
            //         background: #fff url(../img/add_aqua.svg) center no-repeat
        &.height
            input[type=file]
                &:hover
                    &:before
                        border: none
                    
        
        // &.file
        //     input.checked::before,
        //     input.checked:hover::before
        //         background: #fff url(../img/document.svg) center no-repeat
        //         background-size: 60px 60px
        input[type=file]:hover:before
            border: 1px solid #17adbc
            background: #fff url(../img/add_aqua.svg) center no-repeat

        &.height input[type=file]:not(.file).checked::before,input[type=file]:not(.file).checked:hover::before
            border: none

        &.file input[type=file]::before 
            content: ''
            display: block
            width: 118px
            height: 118px
            line-height: 80px
            border: 1px solid #dadada
            margin-right: 5px
            text-align: center
            margin-bottom: 5px
            cursor: pointer
            position: absolute
            background-color: #fff
            background: #fff url(../img/add.svg) center no-repeat
            overflow: hidden
            z-index: 31



        &-img 
            z-index: 30
            position: absolute
            top: -1px\0
            left: -1px\0
            max-height: 120px
            height: 100%
            min-width: 120px
            pointer-events: none
            border: 1px solid #dadada
            border-radius: 4px
            background: #fff url(../img/add.svg) center no-repeat
            cursor: pointer



        &_full-width
            margin-left: 0
            margin-right: 5px
            &:nth-child(2n-1)
                margin-right: 5px
    &__add-photo
        width: 34px
        height: 34px
        fill: $lld-white


    &__add .delete-block 
        cursor: pointer
        position: absolute
        top: 3px
        left: 3px
        width: 118px
        height: 120px
        display: block
        pointer-events: none
        z-index: 31
        opacity: 0
        transition: .3s
        background: rgba(0,0,0,0.6)
        -webkit-border-radius: 3px
        border-radius: 3px



    &__add.height:hover .delete-block
        opacity: 1


    &__add .delete-input-file 
        cursor: pointer
        position: absolute
        bottom: 0
        right: 6px
        z-index: 32
        opacity: 0
        pointer-events: none
        transition: .3s


    &__add:hover .delete-input-file 
        opacity: 1
        pointer-events: all


    &__add:last-child .delete-input-file 
        min-height: 20px
        opacity: 0
        pointer-events: none
        cursor: default



    &__check-title
        margin-bottom: 10px
        display: block
    &__checkbox-block
        display: flex
        flex-direction: row
        flex-wrap: wrap
        width: 250px
        
.checkbox-flex .box-sides__checkbox-block
    width: auto

.box-sides
    &__checkbox-block
        &_full-width
            width: 100%
        &_mid-width
            max-width: 400px
            width: 100%
    &__h3
        font-style: italic
/**/
        
/*----------------------------ДОП_КЛАССЫ--------------------------------------*/
            
/**/            
            
.border_dark
    border: 1px solid #000
            
            
.one-prop-page-stat_enable
    background: #25b84b
    opacity: .62
    height: 25px
    line-height: 25px
            
.reg-page-form__char_flex
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start


.reg-page-form__btn_margin
    margin-top: 0
    margin-right: 15px


li.registration-error
    list-style: none
    border: 1px solid #ca3030
    border-radius: 4px
    padding: 4px 15px
    margin-bottom: 15px


p.alert-success
    list-style: none
    border: 1px solid #25b84b
    border-radius: 4px
    padding: 4px 15px
    margin-bottom: 15px

    
.select,
.aqua-btn,
.confirm-btn,
.header__menu-block,
.search-form__trackbar-inputs,
.search-result-item__price-sum,
.reg-page-form__input,
.prop-page-r-col__price,
.box-sides__add,
.box-sides__add input[type=file],
.box-sides__add input[type=file]:before
    border-radius: 4px


.home-type__block,.search-result-item,.reg-page-form,.prop-page-r-col__contacts,.prop-page-l-col-comments__comment,.prop-page-r-col_v2 
    border-radius: 10px
.prop-page-r-col
    &__message
        &_moderation
            background-color: #f19e4d
            color: #fff
            position: absolute
            top: 0
            left: 0
            right: 0
            width: 100%
            padding: 0.7em 1.5em  
            box-sizing: border-box
            opacity: 1 !important
    &__contacts
        &_moderation
            position: relative
            padding-top: 3.2em
            overflow: hidden
            border-color: #f19e4d
            &>*
                opacity: 0.4
.google-input
    max-width: 100%

.check-address
    flex-wrap: wrap
    
.check-address .search-form__char_v2_marg-right:nth-child(3n)
    margin-right: 20px
            
.full-height
    height: 500px

.adding-blocks
    width: 100%

.clone-this
    display: none

.photo-block
    width: 118px
    min-height: 118px
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

    img
        z-index: 1
        max-height: 118px

.prop-page-r-col__your-photo .prop-page-r-col__photo
    min-width: 100%
    min-height: 100%
    max-width: 220px
    width: 100%
    position: relative
    margin-bottom: 10px

.prop-page-r-col__phone,.prop-page-r-col__email
    padding-left: 24px
    position: relative


.prop-page-r-col__phone::before,.prop-page-r-col__email::before
    content: ""
    display: block
    position: absolute
    height: 14px
    width: 14px
    top: 0
    left: 0


.prop-page-r-col__phone::before
    background: url(../img/phone.svg)
    background-size: contain


.prop-page-r-col__email::before
    height: 17px
    width: 17px
    background: url(../img/mail.svg)
    background-size: contain


.search-result__select_marg-top
    margin-top: 10px


.google_block.hidden
    display: none


.room-block-row
    max-width: 55%

.room-row
    flex-wrap: wrap


.preloader
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 1


.search-form__sect_column
    flex-direction: column


.search-form__sect_column .search-form_v2__container:first-child
    padding-top: 0


.prop-page-l-col-description__section_pad-none
    padding-bottom: 0


.search-page-block__map.fixed 
    position: fixed !important
    top: 0
    right: 0
    height: 100vh


a.header__links.header__links_clicker.add 
    color: #42c3d0


.header__section 
    display: flex
    height: 100%

.map-mini 
  max-height: 0
  overflow: hidden
  transition: .3s

.map-mini.show 
  max-height: 245px


.prop-page-l-col-description__title_column
    flex-direction: column
    align-items: flex-start
    &.fix-colun
        .prop-page-r-col__contacts-item-wrap
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: center
            width: 100%
            background: #f8f8f8
            border-radius: 3px
            padding: 13px 16px
            .prop-page-r-col__form-title
                color: #42c3d0
                padding-right: 4px
            .prop-page-r-col__contacts-item
                padding-right: 30px
                flex: 1 1 27%
                white-space: nowrap
                &:empty
                    height: 0
                    margin: 0
                &_full-width
                    width: 100%
                    flex: 1 1 100%
                    white-space: normal
.prop-page-l-col-description__section
    .prop-page-r-col__from-date.pre-line-text
        padding-bottom: 14px
        &:last-child
            padding-bottom: 0

    
// .room-block-row
//     max-width: 60%

// .room-row
//     flex-wrap: wrap

// .adding-blocks
//     width: 100%
          
// #map.map-mini
//     height: 245px
//     width: 100%
// .map-mini
//     max-height: 0
//     overflow: hidden
//     transition: .3s
//     &.show
//         max-height: 245px

#map
    &.map-mini 
        height: 245px
        width: 100%
    div
        background-repeat: no-repeat !important
.location-hidden
    display: none

.search-result__select_middle 
    min-width: 145px
    max-width: 145px

.contentMap 
    width: 100%

.contentMapText 
    width: 250px    
.gm-style-iw
    display: flex
    flex-direction: column
    align-items: center
    width: calc(100% - 20px) !important
    left: 10px !important
    position: relative !important
.contentMapImage
    width: 250px
img[src="undefined"]
    max-height: 0
    overflow: hidden
.firstHeading
    width: 250px            
            
// /* ----------- LEFT-INFO-WINDOW ----------- */
// .left-info-window
//     display: none
//     position: fixed
//     top: 57px
//     z-index: 40
//     background: #fff
//     width: 580px
//     height: 100vh
//     &.top
//         top: 0
//     .address-block
//         min-height: 50px
//         display: flex
//         justify-content: space-between
//         align-items: center
//         padding: 0 15px
//         border-bottom: 1px solid #dadada
//         margin-bottom: 20px
//     .btn-close
//         background: url(../img/close.svg) center no-repeat
//         background-color: #fff
//         background-size: 20px 20px
//         width: 30px
//         height: 30px
//         border-radius: 50%
//         transition: .3s
//         cursor: pointer
//         height: 30px
//         border-radius: 50%
//         transition: .3s
//         cursor: pointer
//         &:hover
//             background-color: #dadada61
            
// .reg-page-form button
//     opacity: .6
//     pointer-events: none            
// .reg-page-form button.active
//     opacity: 1
//     pointer-events: all


.search-result-item__one-star 
    -webkit-background-size: contain
    background-size: contain
    height: 100%
    width: 20%
    display: inline-block


.search-result-item__one-star.filled,.search-result-item__one-star.rating 
    background: url(../img/star_filled.svg)
    -webkit-background-size: cover
    background-size: cover


form
    width: 100%


.box-sides__add.file input.checked::before,
.box-sides__add.file input.checked:hover::before 
    background: #fff url(../img/document.svg) center no-repeat
    -webkit-background-size: 60px 60px
    background-size: 60px 60px


.info-input-file 
    font-size: 13px
    padding-bottom: 5px
    padding-top: 4px

.search-result-item__star-rating.pointer 
    cursor: pointer


.search-result-item__flag_orange 
    background: url(../img/flag_orange.svg) no-repeat


.search-result-item_orange 
    border: 1px solid #fb8a31



// .info-input-file
//     font-size: 13px
//     padding-bottom: 5px

.photo-slider-popup
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,0.85)
    z-index: 20
    display: flex
    justify-content: center
    align-items: center
    display: none
    flex-direction: column
    &.opened
        display: flex
    .prop-page-l-col__swiper-img
        max-height: 100%
.swiper-comments-photo
    width: 100%
    height: 70vh
    overflow: hidden
    margin-bottom: 3vw
    padding-right: 50px
    padding-left: 50px
    position: relative
    box-sizing: border-box
    // .swiper-slide.new
    //     display: flex
    //     justify-content: center
    //     align-items: center
    @media only screen and (max-width : 580px)
        padding-right: 25px
        padding-left: 25px
    &-preview 
        max-height: 20vh
        height: 100%
        width: 100%
        overflow: hidden
        box-sizing: border-box
        padding-right: 50px
        padding-left: 50px
        position: relative
        @media only screen and (max-width : 580px)
            display: none
        .swiper-slide
            display: flex
            align-items: center
            justify-content: center
            max-height: 100%
            box-sizing: border-box
            img
                max-width: 100%
                max-height: 100%
                height: auto
                width: auto
    .swiper-slide
        display: flex
        align-items: center
        justify-content: center
            box-sizing: border-box
        img
            max-width: 100%
            max-height: 100%
            width: auto
            height: auto

    .prop-page-l-col-comments__img
        max-width: 100%
        max-height: 100%
        display: block
        margin: unset
    .swiper-button-next,
    .swiper-button-prev
        width: 50px
        height: 50px
        background: url("../img/arrow-right.svg") center no-repeat
        background-size: contain
.close-slider-btn
    background: url("../img/close-gray.svg") center no-repeat
    background-size: contain
    height: 30px
    width: 30px
    position: absolute
    top: 15px
    right: 15px
    z-index: 99
    cursor: pointer
.swiper-comments-photo .swiper-slide.new 
    display: flex
    justify-content: center
    align-items: center

.advert-place-padding
    padding-right: 20px
        
.footer__link
    svg 
        cursor: pointer
        height: 15px
        width: 15px
        &:hover
            .st0f 
                fill: #42c3d0


.advert-place-padding img 
    height: 14px



.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled 
    pointer-events: all

.prop-page-l-col-comments__img.open-popup 
    cursor: pointer


.logo 
    margin-right: 50px
    -webkit-align-self: center
    -ms-flex-item-align: center
    align-self: center
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    width: 100px
    height: 33px


.logo img
    width: 100px


.search-form__char_v2_min-width-min
    max-width: 107px

.search-form__char_v2_min-width-min .search-result__select
    min-width: 107px


.accommodation-hide.flex
    display: flex
    margin-right: 20px


.accommodation-hide.flex .search-form__char_v2_min-width
    min-width: 107px


.accommodation-hide.flex .search-result__select
    min-width: 107px


/* .block-flex-inline > div:not(.search-result-item__price) 
        max-width: 585px
        width: 100%
 */

.error-advert
    width: 100%
    display: flex


.error-advert.text .error-text
    margin-right: 0


.error-text
    width: calc(100% - 20px)
    display: flex
    align-items: center
    margin-right: 10px
    background: #eeeeee
    font-style: italic
    padding: 5px 10px
    border-radius: 4px


.inner-width .prop-page-l-col-description__option 
    width: unset
    margin-right: 20px


.photo-block-popup
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    height: 100vh
    width: 100%
    background: rgba(0,0,0,0.6)
    justify-content: center
    align-items: center
    flex-direction: column
    z-index: 100
    display: none
    .popup__gallery-top 
        
.photo-block-popup.show
    display: flex



.del-accomod
    display: none


.prop-page-l-col__gallery-top .swiper-slide img
    cursor: pointer

.flat-hide
    display: none


    
////////////////   /////          ////////////   /////      /////
////////////////   /////          ////////////   /////      /////
/////      /////   /////          /////          /////      /////
/////      /////   /////          ////////////   ////////////////
/////      /////   /////          ////////////   ////////////////
/////      /////   /////          /////          /////      /////
////////////////   ////////////   ////////////   /////      /////
////////////////   ////////////   ////////////   /////      /////
    

.ms-parent
    height: 32px
    .ms-choice
        border: 0
        outline: 0
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        & > div
            position: relative
        & > span
            padding-left: 6px
            height: 100%
            display: flex
            align-items: center
            cursor: pointer
            color: #000
            font-family: "Proxima Nova"
            font-size: 14px
            font-weight: 300
            position: relative
            margin-right: 0
            margin-left: 0
    .wrap-title
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        
    .ms-drop input[type="checkbox"]
        margin-right: 10px
    .get-search__select
        width: 100% !important
        height: 100%
        padding: 0
        position: absolute
    li
        padding: 4px 0
    .ms-drop
        ul
            min-width: 100%
            box-sizing: border-box
            position: absolute
            background: #fff
            border: 1px solid #dadada
            top: 100%
            width: auto
            left: -1px
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15)
        &.bottom
            overflow: visible
            box-shadow: 0   
            border: 0
input[type='date']
    padding-right: 0
.home-searc-el
    width: 100%
    // &_accommodation
    // &_city
    // &_district
    // &_suburb
    &_date
        max-width: 140px
        input
            // text-align: center
    &_price
        width: 50%
        input
            width: 100%
            // text-align: center
        &-wrap
            max-width: 220px
            width: auto
            flex: 1 1 300px !important
    &_btn
        margin-top: 20px
        width: 220px !important
        min-height: 56px
        button
            height: 100%
            width: 100%
            height: 100%
            min-height: 56px
            border-radius: 0
            max-width: 100%

.get-search
    flex-wrap: nowrap
    display: flex
    justify-content: center
    width: 100%
    border-radius: 4px

    .ms-parent
        height: 100%
        padding-right: 0
        padding-left: 0
        .ms-drop.bottom
            margin-left: 0
        .ms-choice 
            outline: 0
            box-sizing: content-box
            & > span
                color: #727272
                padding-left: 20px
                padding-right: 6px
    .home-searc-el 
        &_accommodation 
            background: transparent
            .get-search__select 
                background: #fff
                border-radius: 10px 0 0 10px 
        &_price-wrap 
            background: transparent
            .home-searc-el_price
                background: #fff
                &:last-child 
                    background: transparent
                    .get-search__select 
                        background: #fff
                        border-radius: 0 10px 10px 0 

    &>*
        position: relative
        flex: 1 1 140px
        display: flex
        min-height: 56px
        transition: 0.5s
        background: #fff
        &>*
            flex: 1 1 100%
            width: 100%
    &__select
        color: #727272
        width: 100%
        font-family: "Proxima Nova"
        font-size: 14px
        font-weight: 300
        line-height: 19px
        letter-spacing: 0.28px
        border-radius: 0
        padding: 0 20px
        min-height: 1em
        height: 100%
        padding-bottom: calc(45px / 2 - 0.5em)
        padding-top: calc(45px / 2 - 0.5em)
        background: transparent
        border: 0
        border: 1px solid #dadada
        &:not(select)
            min-height: 1em
            height: 100%
            padding-top: calc(45px / 2 - 0.5em)
            padding-bottom: calc(45px / 2 - 0.5em)

    &__currency
        width: 0
        overflow: visible
        vertical-align: text-top
        padding: 0
        max-width: 0
        flex-grow: 0
        min-width: 0
        color: #727272
        z-index: 1
        display: flex
        justify-content: flex-end
        margin-left: -6px
        padding-right: 6px
        padding-top: 3px
        font-family: "Proxima Nova"
        font-size: 11px
        font-weight: 300
        text-transform: uppercase
        letter-spacing: 0.22px
        position: absolute
        right: 0
        top: 0
    .search-form__btn
        border-radius: 0
        height: 100%
        font-family: "Proxima Nova"
        font-size: 14px
        line-height: 19px
        letter-spacing: 0.28px
        border-radius: 0
        font-weight: 700
        min-height: 56px
        max-width: unset
        padding: 0 20px

.light-text 
    color: #727476
    font-style: italic
    font-weight: 300
    margin-top: 0.5em
    line-height: 1.3em
.agency-card
    justify-content: space-around
    & > b
        // padding-left: 20px
        width: 100%
        margin-bottom: 10px
    &__contacts-wrap
        flex: 2 1 300px
        // padding-left: 20px
        display: flex
        flex-direction: column
        justify-content: space-between
    .prop-page-r-col__your-photo
        width: 100%
        min-width: 80px
        max-width: 100%
        border-radius: 0
        margin-bottom: 20px
        height: auto
        img
            object-fit: cover
            max-width: 100%
            margin: auto
            // max-height: 160px
    .prop-page-r-col__your-desc
        flex: 1 1 200px
        padding-bottom: 10px
        flex-direction: column
        align-items: flex-start
        margin-top: 0
        .prop-page-r-col__desc-short
            .prop-page-r-col__on-site-from
                padding-top: 10px
.appartment-photos
    padding: 0 40px
    box-sizing: border-box
    max-width: 100%
    margin-bottom: 20px
    img
        height: 80px
        max-height: 80px
        margin: auto
        width: auto
        cursor: pointer
        height: auto

.swiper-comments-photo-preview
    .appartment-photos__img
        cursor: pointer
.swiper-slide
    display: flex
    box-sizing: border-box
    justify-content: center
    overflow: hidden

    @media only screen and (max-width : 580px)
        padding-right: 25px
        padding-left: 25px
.full-width-form .search-form__block.search-form__block_sides
    padding-bottom: 20px

.full-width-form
    padding-top: 20px
    
.search-page-block__l-side_full-width
    .search-result
        padding: 20px 0

.customer-landlord-wrapper-fix
    .search-result-item__title
        justify-content: space-between
.search-result-item__preview_pab-bott
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
.search-result-item__photo
    width: 231px
    height: 231px
    flex: 1 1 231px
    margin-right: 6px
    border-radius: 100%
    overflow: hidden
    img
        width: 100%
        object-fit: cover

.search-result-item__prev-text
    flex: 1 0 150px
    max-width: 100%
    width: auto
    justify-content: flex-start
.room-block-row
    flex: 1 1 0
    max-width: 100%
    width: auto
.search-result-item__price_flex-row
    flex-wrap: wrap-reverse
    justify-content: flex-end
    align-items: flex-end
    .search-result-item__date-dostupnosti_padd-top
        padding-top: 18px
.search-result-item__date-dostupnosti_black
    white-space: nowrap
    padding-right: .9em
.search-result-item__on-time_center
    line-height: 1
    margin-top: 12px
.search-result-item__title
    width: auto
    justify-content: flex-start
.search-page-main
    overflow: hidden
.search-result-item_not-found
    border-radius: 3px !important
    padding: 4px 6px
    font-size: 14px 
    background-color: #ececec
    display: inline
    font-family: $proxima-l
    font-style: italic
    margin-top: 20px
    display: table
.prop-page-l-col__order_v2
    .search-result-item__photo-block
        max-height: unset
    .search-result-item__photo
        border-radius: 0
        width: auto
        height: auto
        img
            min-width: 0
            min-height: 0

.roole-unpadding
    padding-bottom: 0 !important
.atrr-content-wrap
    background-color: #f8f8f8
    margin-bottom: 18px
    padding: 10px

    
.customer-card-sidebar-wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-self: flex-start
    margin-left: -20px
    max-width: calc(100% + 20px) !important
    width: calc(100% + 20px)
    align-items: flex-end
    flex: 1 1 0

.wrap-agent-cart-and-verifi
    min-width: 290px
    flex: 1 1 auto
    margin-left: 40px
    margin-bottom: 10px
    >*:first-child
        margin-top: 0

.prop-page-r-col__all-contacts
    width: 100%
.wrap-agent-cart-and-verifi__padding-bug-fix
    padding-left: 20px
.hide-map-btn
    display: flex
    justify-content: center
    align-items: center
    margin-right: auto
    cursor: pointer !important
    width: 2em
    background-color: #f1f1f1
    border-left: 1px solid #dadada
    border-right: 1px solid #dadada
    &__text
        white-space: nowrap
        transform: rotate(90deg)
        text-align: center
        align-self: center
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
    max-height: 100%
.swiper-button-prev, .swiper-container-rtl .swiper-button-next
    max-height: 100%
a.search-result-date-btn__btn.aqua-btn.aqua-btn_white
    margin: auto
.get-search__select
    box-sizing: border-box
    max-width: 100%

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
    appearance: none
    margin: 0
    -moz-appearance:textfield
@import 'media'

// --------------- // 
//                 //
// STYLES FOR IE11 //
//                 //
// --------------- //


@media all and (-ms-high-contrast:none)
    .aqua-btn_white svg
        max-width: 30px
    .header_white .header__links_wishlist svg
        width: 20px
    .search-page-ws-map .search-page-block__l-side
        max-width: 720px
        overflow-x: hidden
        flex: 1 0 720px
    .get-search__currency
        max-width: 100%
        position: absolute
        margin-left: -30px
        pointer-events: none
    .get-search__select
        padding: 0
        padding-left: 10px
    .height_helper
        position: absolute
        width: 100%
        top: 0
        left: 0
        right: 0
        height: 100%
    .footer
        margin-top: 20px
    #message-form
        textarea
            margin-bottom: 10px
    form
        width: auto
    .box-sides__add.height .block-photo .box-sides__add-img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        border: 0
    .search-result-item__photo img
        position: absolute
        left: 0
        bottom: 0
        max-width: 100%
        max-height: 100%
        width: auto
        height: auto
        min-height: 0
        min-width: 0
        margin-bottom: 0
    .hide-map-btn__text
        margin-left: -1.5em
    @media only screen and (max-width : 1080px)
        .search-page-ws-map .search-page-block__l-side
            max-width: 0