<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Все чеки</span>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div class="flex flex--row flex--grid columns">
                <div class="input-band flex flex--column flex--grid columns__auto-column">
                    <input type="button" value="Выгрузить данные" @click="exportData" class=" admin-block__content--paddingbtn btn--blue">
                </div>
            </div>
            <form method="POST" >
                <div class="flex flex--row">
                    <div class="flex--block admin-block">
                        <div class="admin-block__header">Поиск чека</div>
                        <div class="admin-block__content">
                            <div class="flex flex--row flex--grid columns">
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Фамилия</label>
                                    <input v-model="filter_surname" type="text"  name="filter_surname"  >
                                </div>
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Дата покупки</label>
                                    <input v-model="filter_date_of_buy" type="date"  name="filter_date_of_buy"  >
                                </div>
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Город</label>
                                    <input type="text"  name="filter_city"  >
                                </div>
                            </div>
                            <div class="flex flex--row flex--grid columns">
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Торговая сеть для розыгрыша</label>
                                    <select v-model="filter_net" name="filter_net" >
                                        <option :key="'Все сети'" :label="'Все сети'" :value="'Все сети'">Все сети</option>
                                        <option :key="'x5'" :label="'x5'" :value="'x5'">x5</option>
                                    </select>
                                </div>
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Дата регистрации чека</label>
                                    <input v-model="filter_created_at" type="date"  name="filter_created_at"  >
                                </div>
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Дата участия в розыгрыше</label>
                                    <input v-model="filter_date_of_participation" type="date"  name="filter_date_of_participation"  >
                                </div>
                            </div>
                            <div class="flex flex--row flex--grid columns">
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <label>Статус</label>
                                    <select v-model="filter_status_1" name="filter_status_1" >
                                        <option :key="'На модерации'" :label="'На модерации'" :value="'На модерации'">На модерации</option>
                                        <option :key="'Принят'" :label="'Принят'" :value="'Принят'">Принят</option>
                                        <option :key="'Участвовал в розыгрыше'" :label="'Участвовал в розыгрыше'" :value="'Участвовал в розыгрыше'">Участвовал в розыгрыше</option>
                                        <option :key="'Отклонен'" :label="'Отклонен'" :value="'Отклонен'">Отклонен</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex flex--row flex--grid columns">
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <input type="button" value="Поиск чека" @click="filter" class=" admin-block__content--paddingbtn btn--blue">
                                </div>
                                <div class="input-band flex flex--column flex--grid columns__auto-column">
                                    <input type="button" value="Сбросить фильтр" @click="resetFilter" class=" admin-block__content--padding btn btn--blue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div v-if="successful" class="success-publish" >Чек был успешно обновлён.</div>
            <div v-if="deleting" class="success-delete" >Чек был успешно удалён.</div>
            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__overlay" @click="seen = false">
                </div>
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" class="js-form-address" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Чек
                        </div>
                        <div class="popup__content popup__content--full">
                            <label  class="columns__33p-column">ID</label>
                            <input readonly name="check_id" v-model="c_check.id" />
                            <p></p>
                            <label  class="columns__33p-column">ФИО</label>
                            <input readonly v-model="c_check.add_name" type="text" name="surname" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Email</label>
                            <input readonly v-model="c_check.add_email" type="email" name="email" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Дата покупки</label>
                            <input v-model="c_check.date_of_buy" type="date" name="date_of_buy" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Город</label>
                            <input type="text" name="city" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Торговая сеть для розыгрыша</label>
                            <select required v-model="c_check.net" name="net" >
                                <option :key="'Все сети'" :label="'Все сети'" :value="'Все сети'">Все сети</option>
                                <option :key="'x5'" :label="'x5'" :value="'x5'">x5</option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Торговая сеть для аналитики</label>
                            <select required v-model="c_check.add_net" name="add_net" >
                                <option :key="'Пятерочка'" :label="'Пятерочка'" :value="'Пятерочка'">Пятерочка</option>
                                <option :key="'Перекресток'" :label="'Перекресток'" :value="'Перекресток'">Перекресток</option>
                                <option :key="'Карусель'" :label="'Карусель'" :value="'Карусель'">Карусель</option>
                                <option :key="'Магнит'" :label="'Магнит'" :value="'Магнит'">Магнит</option>
                                <option :key="'Лента'" :label="'Лента'" :value="'Лента'">Лента</option>
                                <option :key="'Окей'" :label="'Окей'" :value="'Окей'">Окей</option>
                                <option :key="'Ашан'" :label="'Ашан'" :value="'Ашан'">Ашан</option>
                                <option :key="'Дикси'" :label="'Дикси'" :value="'Дикси'">Дикси</option>
                                <option :key="'Другое'" :label="'Другое'" :value="'Другое'">Другое</option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">SKU</label>
                            <select v-model="c_check.sku" name="sku" >
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'">ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'">ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г</option>
                                <option :key="'Юбилейное Печенье с черникой 112г'" :label="'Юбилейное Печенье с черникой 112г'" :value="'Юбилейное Печенье с черникой 112г'">Юбилейное Печенье с черникой 112г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'">ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г</option>
                                <option :key="'Юбилейное печенье витаминизированное с глазурью 348 г'" :label="'Юбилейное печенье витаминизированное с глазурью 348 г'" :value="'Юбилейное печенье витаминизированное с глазурью 348 г'">Юбилейное печенье витаминизированное с глазурью 348 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :label="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :value="'ЮБИЛЕЙНОЕ Постное печенье 313г'">ЮБИЛЕЙНОЕ Постное печенье 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'Другое'" :label="'Другое'" :value="'Другое'">Другое</option>
                                <option :key="' '" :label="' '" :value="' '"> </option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Кол-во</label>
                            <input v-model="c_check.sku_count" type="number" name="sku_count" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Дата регистрации чека</label>
                            <input readonly v-model="c_check.created_at" type="text" name="created_at" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Дата участия в розыгрыше</label>
                            <input readonly v-model="c_check.date_of_participation" type="text" name="date_of_participation" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">Статус</label>
                            <select required v-model="c_check.status_1" name="status_1" >
                                <option :key="'На модерации'" :label="'На модерации'" :value="'На модерации'">На модерации</option>
                                <option :key="'Принят'" :label="'Принят'" :value="'Принят'">Принят</option>
                                <option :key="'Участвовал в розыгрыше'" :label="'Участвовал в розыгрыше'" :value="'Участвовал в розыгрыше'">Участвовал в розыгрыше</option>
                                <option :key="'Отклонен'" :label="'Отклонен'" :value="'Отклонен'">Отклонен</option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Сообщение для отправки на почту ( если чек будет отклонён)</label>
                            <textarea name="message" class="columns__50p-column"></textarea>
                            <p></p>
                            <div v-for="photo in c_check.photo">
                                <p><a target="_blank" :href="'/public/storage/Check/'+photo.image"><img class="check-photo" :src="'/public/storage/Check/'+photo.image" ></a></p>
                            </div>
                            <label  class="columns__33p-column">SKU</label>
                            <select v-model="c_check.sku_2" name="sku_2" >
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'">ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'">ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г</option>
                                <option :key="'Юбилейное Печенье с черникой 112г'" :label="'Юбилейное Печенье с черникой 112г'" :value="'Юбилейное Печенье с черникой 112г'">Юбилейное Печенье с черникой 112г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'">ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г</option>
                                <option :key="'Юбилейное печенье витаминизированное с глазурью 348 г'" :label="'Юбилейное печенье витаминизированное с глазурью 348 г'" :value="'Юбилейное печенье витаминизированное с глазурью 348 г'">Юбилейное печенье витаминизированное с глазурью 348 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :label="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :value="'ЮБИЛЕЙНОЕ Постное печенье 313г'">ЮБИЛЕЙНОЕ Постное печенье 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'Другое'" :label="'Другое'" :value="'Другое'">Другое</option>
                                <option :key="' '" :label="' '" :value="' '"> </option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Кол-во</label>
                            <input v-model="c_check.sku_count_2" type="number" name="sku_count_2" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">SKU</label>
                            <select  v-model="c_check.sku_3" name="sku_3" >
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'">ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'">ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г</option>
                                <option :key="'Юбилейное Печенье с черникой 112г'" :label="'Юбилейное Печенье с черникой 112г'" :value="'Юбилейное Печенье с черникой 112г'">Юбилейное Печенье с черникой 112г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'">ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г</option>
                                <option :key="'Юбилейное печенье витаминизированное с глазурью 348 г'" :label="'Юбилейное печенье витаминизированное с глазурью 348 г'" :value="'Юбилейное печенье витаминизированное с глазурью 348 г'">Юбилейное печенье витаминизированное с глазурью 348 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :label="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :value="'ЮБИЛЕЙНОЕ Постное печенье 313г'">ЮБИЛЕЙНОЕ Постное печенье 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'Другое'" :label="'Другое'" :value="'Другое'">Другое</option>
                                <option :key="' '" :label="' '" :value="' '"> </option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Кол-во</label>
                            <input v-model="c_check.sku_count_3" type="number" name="sku_count_3" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">SKU</label>
                            <select v-model="c_check.sku_4" name="sku_4" >
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'">ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'">ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г</option>
                                <option :key="'Юбилейное Печенье с черникой 112г'" :label="'Юбилейное Печенье с черникой 112г'" :value="'Юбилейное Печенье с черникой 112г'">Юбилейное Печенье с черникой 112г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'">ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г</option>
                                <option :key="'Юбилейное печенье витаминизированное с глазурью 348 г'" :label="'Юбилейное печенье витаминизированное с глазурью 348 г'" :value="'Юбилейное печенье витаминизированное с глазурью 348 г'">Юбилейное печенье витаминизированное с глазурью 348 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :label="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :value="'ЮБИЛЕЙНОЕ Постное печенье 313г'">ЮБИЛЕЙНОЕ Постное печенье 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'Другое'" :label="'Другое'" :value="'Другое'">Другое</option>
                                <option :key="' '" :label="' '" :value="' '"> </option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Кол-во</label>
                            <input v-model="c_check.sku_count_4" type="number" name="sku_count_4" class="columns__50p-column">
                            <p></p>
                            <label  class="columns__33p-column">SKU</label>
                            <select v-model="c_check.sku_5" name="sku_5" >
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное глазированное с какао 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г'">ЮБИЛЕЙНОЕ печенье витаминизированное ореховое с глазурью 116 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г'">ЮБИЛЕЙНОЕ печенье витаминизированное с глазурью 116г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г'">ЮБИЛЕЙНОЕ печенье витаминизированное со вкусом клюквы 112г</option>
                                <option :key="'Юбилейное Печенье с черникой 112г'" :label="'Юбилейное Печенье с черникой 112г'" :value="'Юбилейное Печенье с черникой 112г'">Юбилейное Печенье с черникой 112г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 112 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 134 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное 313 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г'">ЮБИЛЕЙНОЕ печенье витаминизированное с овсяными хлопьями 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью 348 г</option>
                                <option :key="'Юбилейное печенье витаминизированное с глазурью 348 г'" :label="'Юбилейное печенье витаминизированное с глазурью 348 г'" :value="'Юбилейное печенье витаминизированное с глазурью 348 г'">Юбилейное печенье витаминизированное с глазурью 348 г</option>
                                <option :key="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :label="'ЮБИЛЕЙНОЕ Постное печенье 313г'" :value="'ЮБИЛЕЙНОЕ Постное печенье 313г'">ЮБИЛЕЙНОЕ Постное печенье 313г</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное традиционное, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное молочное с глазурью, 116г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :label="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'" :value="'ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»'">ЮБИЛЕЙНОЕ печенье витаминизированное с черникой, 112г в промоупаковке «Зимнее ассорти»</option>
                                <option :key="'Другое'" :label="'Другое'" :value="'Другое'">Другое</option>
                                <option :key="' '" :label="' '" :value="' '"> </option>
                            </select>
                            <p></p>
                            <label  class="columns__33p-column">Кол-во</label>
                            <input v-model="c_check.sku_count_5" type="number" name="sku_count_5" class="columns__50p-column">
                            <p></p>

                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Обновить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--checkboxes">
                                <thead>
                                <tr>
                                    <td>id</td>
                                    <td>ФИО</td>
                                    <td>Дата покупки</td>
                                    <td>Город</td>
                                    <td>Торговая сеть для розыгрыша</td>
                                    <td>Торговая сеть для аналитики</td>
                                    <td>SKU</td>
                                    <td>Дата регистрации чека</td>
                                    <td>Дата участия в розыгрыше</td>
                                    <td>Статус</td>
                                    <td>Модератор</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="check in checks">
                                    <td>{{ check.id }}</td>
                                    <td>{{ check.customer.surname }} {{ check.customer.name }} {{ check.customer.second_name }}</td>
                                    <td><span v-if="check.date_of_buy">{{ check.date_of_buy | moment("DD-MM-YYYY")}}</span></td>
                                    <td>{{ check.city }}</td>
                                    <td>{{ check.net }}</td>
                                    <td>{{ check.add_net }}</td>
                                    <td>{{ check.sku }}</td>
                                    <td>
                                        {{ check.created_at | moment("DD-MM-YYYY")}}<br>
                                        {{  check.created_at | moment("add","3 hours","H:mm:ss") }}
                                    </td>
                                    <td>{{ check.date_of_participation }}</td>
                                    <td>{{ check.status_1 }}</td>
                                    <td>{{ check.moderator }}</td>
                                    <td>
                                        <a @click="handleUpdate(check)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <!--<a @click="handleDelete(check)" class="table-actions__action&#45;&#45;edit">-->
                                        <!--<img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {

        data() {
            return{
                checks:[],
                seen:false,
                successful:false,
                deleting:false,
                error:false,
                c_check:[],
                filter_surname:'',
                filter_date_of_buy:'',
                filter_net:'',
                filter_city:'',
                filter_created_at:'',
                filter_date_of_participation:'',
                filter_status_1:'',
                filter_sku:'',

            };
        },
        created(){
            axios.post('/admin/all-checks').then(response => (this.checks = response.data));
        },
        methods: {
            create: function(event){

                axios.post('/admin/check/update', new FormData(this.$refs.form))
                    .then(
                        response => (
                            this.filter_city = $('[name="filter_city"]').val(),
                            axios.post('/admin/check/filter', {
                                'filter_surname': this.filter_surname, 'filter_date_of_buy': this.filter_date_of_buy, 'filter_net': this.filter_net,
                                'filter_city': this.filter_city, 'filter_created_at': this.filter_created_at, 'filter_date_of_participation': this.filter_date_of_participation,
                                'filter_status_1': this.filter_status_1, 'filter_sku': this.filter_sku
                            })
                            .then(
                                response => (
                                    this.checks = response.data
                                )
                            ),
                                this.deleting = false,
                                this.successful = true,
                                this.seen = false,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            handleUpdate: function (check) {
                this.c_check = Object.assign({}, check);
                this.c_check.created_at = moment(this.c_check.created_at ).format('DD-MM-YYYY');
//                this.c_check.date_of_buy = moment(this.c_check.date_of_buy ).format('YYYY-MM-DD');
                this.c_check.add_name = this.c_check.customer.surname +' '+ this.c_check.customer.name +' ' + this.c_check.customer.second_name;
                this.c_check.add_email = this.c_check.customer.email;
                $('input[name="city"]').val(this.c_check.city);
                $('textarea[name="message"]').val(this.c_check.message);
                this.seen = true;
            },

            filter: function () {
                this.filter_city = $('[name="filter_city"]').val();
                axios.post('/admin/check/filter', {
                    'filter_surname': this.filter_surname, 'filter_date_of_buy': this.filter_date_of_buy, 'filter_net': this.filter_net,
                    'filter_city': this.filter_city, 'filter_created_at': this.filter_created_at, 'filter_date_of_participation': this.filter_date_of_participation,
                    'filter_status_1': this.filter_status_1, 'filter_sku': this.filter_sku
                })
                    .then(
                        response => (
                            this.checks = response.data
                        )
                    );
            },
            exportData: function () {
                axios.post('/admin/check/export', {
                    'filter_surname': this.filter_surname, 'filter_date_of_buy': this.filter_date_of_buy, 'filter_net': this.filter_net,
                    'filter_city': this.filter_city, 'filter_created_at': this.filter_created_at, 'filter_date_of_participation': this.filter_date_of_participation,
                    'filter_status_1': this.filter_status_1, 'filter_sku': this.filter_sku
                })
                    .then(
                        response => (
                            window.open('http://xn--90aiakgkqi1l.xn--p1ai/admin/download/checks','_blank')
                        )
                    );
            },
            resetFilter: function (){
                axios.post('/admin/all-checks').then(response => (this.checks = response.data));
                this.filter_surname = '';
                this.filter_date_of_buy = '';
                this.filter_net = '';
                this.filter_city = '';
                this.filter_created_at = '';
                this.filter_date_of_participation = '';
                this.filter_status_1 = '';
                this.filter_sku = '';
            },
            showForm: function(){
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_check.id = null;
            }
        }
    }

</script>

<style scoped>
    .table-wrapper__wrap{
        overflow-x: scroll;
        display: block;
    }
    .popup__overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width:100vw;
        min-height:100vh;
        opacity: 0.4;
        background: #9E9E9E;
    }
    .check-photo{
        width: 150px;
    }
    .table-actions__action--edit{
        cursor: pointer;
    }
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        bcheck-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        bcheck-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .popup__wrap{
        width: 50%;
        overflow: scroll;
        height: 80%;
        z-index:10;
    }

    .table--checkboxes td:first-child {
        width: 5%;
    }

    .table-actions__action--edit{
        cursor: pointer;
    }
    .page-conent__open-menu {
        width: calc(100% - 250px) !important;
    }


</style>


