<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Все коды</span>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div class="flex flex--row flex--grid columns">
                <div class="input-band flex flex--column flex--grid columns__auto-column">
                    <a  href="http://xn--90aiakgkqi1l.xn--p1ai/admin/download/codes" target="_blank" class=" admin-block__content--paddingbtn">Выгрузить данные</a>
                </div>
            </div>
            <!--<form method="POST" >-->
                <!--<div class="flex flex&#45;&#45;row">-->
                    <!--<div class="flex&#45;&#45;block admin-block">-->
                        <!--<div class="admin-block__header">Поиск пользователя</div>-->
                        <!--<div class="admin-block__content">-->
                            <!--<div class="flex flex&#45;&#45;row flex&#45;&#45;grid columns">-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>№ Заявки</label>-->
                                    <!--<input v-model="filter_code_id" type="number"  name="code_id"  >-->
                                <!--</div>-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>Фамилия</label>-->
                                    <!--<input v-model="filter_surname" type="еуче"  name="surname"  >-->
                                <!--</div>-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>Телефон</label>-->
                                    <!--<input v-model="filter_phone" type="text"  name="phone"  >-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="flex flex&#45;&#45;row flex&#45;&#45;grid columns">-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<input type="button" value="Поиск заявки" @click="filter" class=" admin-block__content&#45;&#45;padding btn btn&#45;&#45;blue">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->

            <div v-if="successful" class="success-publish" >Код был успешно обновлён.</div>
            <div v-if="deleting" class="success-delete" >Код был успешно удалён.</div>
            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__overlay" @click="seen = false">
                </div>
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Код
                        </div>
                        <div class="popup__content popup__content--full">
                            <label for="name" class="columns__33p-column">Номер кода</label>
                            <input readonly hidden name="code_id" v-model="c_code.id" />
                            <input readonly name="code_name" v-model="c_code.code_name" />
                            <p></p>
                            <label for="name" class="columns__33p-column">ФИО</label>
                            <input readonly v-model="c_code.add_name" type="text" name="surname" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Email</label>
                            <input readonly v-model="c_code.add_email" type="email" name="email" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Дата регистрации чека</label>
                            <input readonly v-model="c_code.created_at" type="text" name="created_at" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Статус</label>
                            <select required v-model="c_code.status_1" name="status_1" >
                                <option :key="'Ожидает заявки'" :label="'Ожидает заявки'" :value="'Ожидает заявки'">Ожидает заявки</option>
                                <option :key="'Открытка отправлена'" :label="'Открытка отправлена'" :value="'Открытка отправлена'">Открытка отправлена</option>
                                <option :key="'Обработана'" :label="'Обработана'" :value="'Обработана'">Обработана</option>
                            </select>
                            <p></p>
                            <label for="name" class="columns__33p-column">Кому</label>
                            <input readonly v-model="c_code.whom" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">От кого</label>
                            <input readonly v-model="c_code.from_whom" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">От куда</label>
                            <input readonly v-model="c_code.from_where" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Индекс</label>
                            <input readonly v-model="c_code.reg_index" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Регион</label>
                            <input readonly v-model="c_code.region" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Город</label>
                            <input readonly v-model="c_code.d_city" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Улица</label>
                            <input readonly v-model="c_code.street" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Дом</label>
                            <input readonly v-model="c_code.house" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Квартира</label>
                            <input readonly v-model="c_code.flat" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Открытка #</label>
                            <input readonly v-model="c_code.card_number" type="text" name="" class="columns__50p-column">
                            <p></p>
                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Обновить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--codeboxes">
                                <thead>
                                <tr>
                                    <td>Номер кода</td>
                                    <td>ФИО</td>
                                    <td>Дата регистрации кода</td>
                                    <td>Статус</td>
                                    <td>Модератор</td>

                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="code in codes">
                                    <td>{{ code.code_name }}</td>
                                    <td>{{ code.customer.surname }} {{ code.customer.name }} {{ code.customer.second_name }}</td>
                                    <td>{{ code.created_at | moment("DD-MM-YYYY")}}</td>
                                    <td>{{ code.status_1 }}</td>
                                    <td>{{ code.moderator }}</td>
                                    <td>
                                        <a @click="handleUpdate(code)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <!--<a @click="handleDelete(code)" class="table-actions__action&#45;&#45;edit">-->
                                            <!--<img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {

        data() {
            return{
                codes:[],
                skus:[],
                seen:false,
                successful:false,
                deleting:false,
                error:false,
                c_code:[],
                filter_code_id:'',
                filter_surname:'',
                filter_phone:'',

            };
        },
        created(){
            axios.post('/admin/codes').then(response => (this.codes = response.data));
        },
        methods: {
            create: function(event){
                axios.post('/admin/code/update', new FormData(this.$refs.form))
                    .then(
                        response => (
                            axios.post('/admin/codes').then(response => (this.codes = response.data)),
                                this.deleting = false,
                                this.successful = true,
                                this.seen = false,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            handleUpdate: function (code) {
                this.c_code = Object.assign({}, code);
                this.c_code.created_at = moment(this.c_code.created_at ).format('DD-MM-YYYY');
                this.c_code.add_name = this.c_code.customer.surname +' '+ this.c_code.customer.name +' ' + this.c_code.customer.second_name;
                this.c_code.add_email = this.c_code.customer.email;
                this.seen = true;
            },
//            handleDelete: function (code) {
//                var code = confirm("Вы уверены, что хотите удалить?");
//                if (code == true) {
//                    axios.post('/admin/code/delete/id='+code.id)
//                        .then(
//                            response => (
//                                axios.post('/admin/codes').then(response => (this.codes = response.data)),
//                                    this.seen = false,
//                                    this.deleting = true,
//                                    this.hideDeleteMessage()
//                            )
//                        )
//                }
//            },
//            filter: function () {
//                axios.post('/admin/code/filter', {'code_id': this.filter_code_id, 'surname': this.filter_surname, 'phone': this.filter_phone})
//                    .then(
//                        response => (
//                            this.codes = response.data
//                        )
//                    );
//            },
            showForm: function(){
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_code.id = null;
             }
        }
    }

</script>

<style scoped>
    .popup__overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width:100vw;
        min-height:100vh;
        opacity: 0.4;
        background: #9E9E9E;
    }
    .code-photo{
        width: 150px;
    }
    .table-actions__action--edit{
        cursor: pointer;
    }
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        bcode-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        bcode-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .popup__wrap{
        width: 50%;
        overflow: scroll;
        height: 80%;
    }

    .table--codeboxes td:first-child {
        width: 5%;
    }

    .table-actions__action--edit{
        cursor: pointer;
    }
    .page-conent__open-menu {
        width: calc(100% - 250px) !important;
    }


</style>


