<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Пользователи</span>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div class="flex flex--row flex--grid columns">
                <div class="input-band flex flex--column flex--grid columns__auto-column">
                    <a  href="http://xn--90aiakgkqi1l.xn--p1ai/admin/download/customers" target="_blank" class=" admin-block__content--paddingbtn">Выгрузить данные</a>
                </div>
            </div>
            <!--<form method="POST" >-->
                <!--<div class="flex flex&#45;&#45;row">-->
                    <!--<div class="flex&#45;&#45;block admin-block">-->
                        <!--<div class="admin-block__header">Поиск пользователя</div>-->
                        <!--<div class="admin-block__content">-->
                            <!--<div class="flex flex&#45;&#45;row flex&#45;&#45;grid columns">-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>№ Заявки</label>-->
                                    <!--<input v-model="filter_customer_id" type="number"  name="customer_id"  >-->
                                <!--</div>-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>Фамилия</label>-->
                                    <!--<input v-model="filter_surname" type="еуче"  name="surname"  >-->
                                <!--</div>-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>Телефон</label>-->
                                    <!--<input v-model="filter_phone" type="text"  name="phone"  >-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="flex flex&#45;&#45;row flex&#45;&#45;grid columns">-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<input type="button" value="Поиск заявки" @click="filter" class=" admin-block__content&#45;&#45;padding btn btn&#45;&#45;blue">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->

            <div v-if="successful" class="success-publish" >Пользователь был успешно обновлён.</div>
            <div v-if="deleting" class="success-delete" >Пользователь был успешно удалён.</div>
            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__overlay" @click="seen = false">
                </div>
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Пользовтель
                        </div>
                        <div class="popup__content popup__content--full">
                            <input hidden name="customer_id" v-model="c_customer.id" />
                            <label for="name" class="columns__33p-column">Фамилия</label>
                            <input v-model="c_customer.surname" type="text" name="surname" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Имя</label>
                            <input v-model="c_customer.name" type="text" name="name" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Отчество</label>
                            <input v-model="c_customer.second_name" type="text" name="second_name" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Email</label>
                            <input v-model="c_customer.email" type="email" name="email" class="columns__50p-column">
                            <p></p>
                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Обновить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--checkboxes">
                                <thead>
                                <tr>
                                    <td>id</td>
                                    <td>ФИО</td>
                                    <td>Email</td>
                                    <td>Статус</td>
                                    <td>Модератор</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="customer in customers">
                                    <td>{{ customer.id }}</td>
                                    <td>{{ customer.surname }} {{ customer.name }} {{ customer.second_name }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td v-if="customer.confirm == 1">Подтверждён</td>
                                    <td v-else>Не подтверждён</td>
                                    <td>{{ customer.moderator }}</td>

                                    <td>
                                        <a @click="handleUpdate(customer)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <!--<a @click="handleDelete(customer)" class="table-actions__action&#45;&#45;edit">-->
                                            <!--<img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {

        data() {
            return{
                customers:[],
                seen:false,
                successful:false,
                deleting:false,
                error:false,
                c_customer:[],
                filter_customer_id:'',
                filter_surname:'',
                filter_phone:'',

            };
        },
        created(){
            axios.post('/admin/customers').then(response => (this.customers = response.data));
        },
        methods: {
            create: function(event){

                axios.post('/admin/customer/create', new FormData(this.$refs.form))
                    .then(
                        response => (
                            axios.post('/admin/customers').then(response => (this.customers = response.data)),
                                this.deleting = false,
                                this.successful = true,
                                this.seen = false,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            handleUpdate: function (customer) {
                this.c_customer = Object.assign({}, customer);
                this.seen = true;
            },
//            handleDelete: function (customer) {
//                var check = confirm("Вы уверены, что хотите удалить?");
//                if (check == true) {
//                    axios.post('/admin/customer/delete/id='+customer.id)
//                        .then(
//                            response => (
//                                axios.post('/admin/customers').then(response => (this.customers = response.data)),
//                                    this.seen = false,
//                                    this.deleting = true,
//                                    this.hideDeleteMessage()
//                            )
//                        )
//                }
//            },
//            filter: function () {
//                axios.post('/admin/customer/filter', {'customer_id': this.filter_customer_id, 'surname': this.filter_surname, 'phone': this.filter_phone})
//                    .then(
//                        response => (
//                            this.customers = response.data
//                        )
//                    );
//            },
            showForm: function(){
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_customer.id = null;
             }
        }
    }

</script>

<style scoped>
    .popup__overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width:100vw;
        min-height:100vh;
        opacity: 0.4;
        background: #9E9E9E;

    }
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        bcustomer-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        bcustomer-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .popup__wrap{
        width: 50%;
        overflow: scroll;
        height: 80%;
    }

    .table--checkboxes td:first-child {
        width: 30%;
    }

    .table-actions__action--edit{
        cursor: pointer;
    }
    .page-conent__open-menu {
        width: calc(100% - 250px) !important;
    }
</style>


