<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Панель управления</span>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div class="flex flex--row columns">
                <div class="flex--block admin-block columns__auto-column">
                    <div class="table-wrapper">
                        <div class="admin-block__header">Тут будет какой-то последний контент</div>
                        <div class="table-wrapper__wrap">
                            <!--<table class="table table&#45;&#45;justify-td">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<td>От кого</td>-->
                                    <!--<td>Статус</td>-->
                                    <!--<td>Оценка</td>-->
                                    <!--<td>Дата публикации</td>-->
                                    <!--<td></td>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--@foreach($tenant_reviews as $review)-->
                                <!--<tr>-->
                                    <!--@if($review->customer)-->
                                    <!--<td>{{ $review->customer->surname }} {{ $review->customer->name }}</td>-->
                                    <!--@else-->
                                    <!--<td></td>-->
                                    <!--@endif-->
                                    <!--@if($review->active != 1)-->
                                    <!--<td>На модерации</td>-->
                                    <!--@else-->
                                    <!--<td>Активен</td>-->
                                    <!--@endif-->
                                    <!--<td>{{ $review->rating }}</td>-->
                                    <!--<td>{{ date('d-m-Y', strtotime($review->created_at)) }}</td>-->
                                    <!--<td>-->
                                        <!--<a href="/admin/advert-review/{{ $review->id }}" class="table-actions__action&#45;&#45;edit">-->
                                            <!--<img src="{{ asset('/public/admin/img/page-actions/page-action-edit.png') }}" alt="edit">-->
                                        <!--</a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--@endforeach-->
                                <!--</tbody>-->
                            <!--</table>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                email:[],
                password:[],
                error: false,
                errors: [],
            };
        },
        methods: {
            login: function(event){
                app
                axios.post('/admin/login', new FormData(this.$refs.loginForm))
                    .then(
                        response => (
                            window.location.href = response.data.url
                        )
                    )
                    .catch(
                        error => (
                        this.error = true,
                        this.errors = error.response.data.errors
                    ));
            },
        }
    }

</script>



