<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 centered-form-wrap ">
            <div class="panel panel-default centered-form-wrap__popup centered-form-wrap__popup_login popup__wrap">
                <div class="panel-heading popup__title popup__title_left"> admin Login</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" @submit.prevent="login" ref="form">
                        <div class="popup__column-label">
                            <span class="help-block" v-if="error">Write correctly data</span>
                                <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" name="email" required>
                                    <span class="help-block" v-if="errors.email">{{ errors.email }}</span>
                                </div>
                        </div>
                        <div class="popup__column-label">
                            <label for="password" class="col-md-4 control-label">Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" name="password" required>
                                    <span class="help-block" v-if="errors.password">{{ errors.password }}</span>
                                </div>
                        </div>
                        <button type="submit" class="red_btn page-actions__action btn btn--blue">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return{
                errors: [],
                error: false,
            };
        },
        methods: {
            login: function(event){
                axios.post('/admin/login', new FormData(this.$refs.form))
                    .then(
                        response => (
                            window.location.href = response.data.url
                        )
                    )
                    .catch(
                        error => (
                        this.error = true,
                        this.errors.email = error.response.data.errors.email,
                        this.errors.password = error.response.data.errors.password
                    ));
            },
        }
    }

</script>


