<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Все чеки победители *Все сети*</span>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div class="flex flex--row flex--grid columns">
                <div class="input-band flex flex--column flex--grid columns__auto-column">
                    <a  href="http://xn--90aiakgkqi1l.xn--p1ai/admin/download/win-checks" target="_blank" class=" admin-block__content--paddingbtn">Выгрузить данные</a>
                </div>
            </div>

            <div v-if="successful" class="success-publish" >Чек был успешно обновлён.</div>
            <div v-if="deleting" class="success-delete" >Чек был успешно удалён.</div>
            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__overlay" @click="seen = false">
                </div>
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Чек
                        </div>
                        <div class="popup__content popup__content--full">
                            <label for="name" class="columns__33p-column">ID</label>
                            <input readonly name="check_id" v-model="c_check.id" />
                            <p></p>
                            <label for="name" class="columns__33p-column">ФИО</label>
                            <input readonly v-model="c_check.add_name" type="text" name="surname" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Email</label>
                            <input readonly v-model="c_check.add_email" type="email" name="email" class="columns__50p-column">
                            <p></p>
                            <!--<label for="name" class="columns__33p-column">Дата покупки</label>-->
                            <!--<input v-model="c_check.date_of_buy" type="date" name="date_of_buy" class="columns__50p-column">-->
                            <!--<p></p>-->
                            <!--<label for="name" class="columns__33p-column">Город</label>-->
                            <!--<input v-model="c_check.city" type="text" name="city" class="columns__50p-column">-->
                            <!--<p></p>-->
                            <label for="name" class="columns__33p-column">Торговая сеть</label>
                            <select required v-model="c_check.net" name="net" >
                                <option :key="'Все сети'" :label="'Все сети'" :value="'Все сети'">Все сети</option>
                                <option :key="'x5'" :label="'x5'" :value="'x5'">x5</option>
                            </select>
                            <p></p>
                            <!--<label for="name" class="columns__33p-column">SKU</label>-->
                            <!--<select required v-model="c_check.sku" name="sku" >-->
                                <!--<option v-for="sku in  skus" :key="sku.name" :label="sku.name" :value="sku.name">-->
                                <!--</option>-->
                            <!--</select>-->
                            <!--<p></p>-->
                            <label for="name" class="columns__33p-column">Дата регистрации чека</label>
                            <input readonly v-model="c_check.created_at" type="text" name="created_at" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Дата участия в розыгрыше</label>
                            <input readonly v-model="c_check.date_of_participation" type="text" name="date_of_participation" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Статус</label>
                            <select required v-model="c_check.status_2" name="status_2" >
                                <option :key="'Ожидает заявки'" :label="'Ожидает заявки'" :value="'Ожидает заявки'">Ожидает заявки</option>
                                <option :key="'Ожидает отправки'" :label="'Ожидает отправки'" :value="'Ожидает отправки'">Ожидает отправки</option>
                                <option :key="'Трек номер'" :label="'Трек номер'" :value="'Трек номер'">Трек номер</option>
                                <option :key="'Доставлен'" :label="'Доставлен'" :value="'Доставлен'">Доставлен</option>
                            </select>
                            <p></p>
                            <label for="name" class="columns__33p-column">Размер приза</label>
                            <input readonly v-model="c_check.size" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Трек номер</label>
                            <input v-model="c_check.track_number" type="text" name="track_number" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Индекс</label>
                            <input readonly v-model="c_check.reg_index" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Регион</label>
                            <input readonly v-model="c_check.region" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Город</label>
                            <input readonly v-model="c_check.d_city" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Улица</label>
                            <input readonly v-model="c_check.street" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Дом</label>
                            <input readonly v-model="c_check.house" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Квартира</label>
                            <input readonly v-model="c_check.flat" type="text" name="" class="columns__50p-column">
                            <p></p>
                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Обновить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--checkboxes">
                                <thead>
                                <tr>
                                    <td>id</td>
                                    <td>ФИО</td>
                                    <td>Дата участия в розыгрыше</td>
                                    <td>Приз</td>
                                    <td>Торговая сеть</td>
                                    <td>Статус</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="check in checks">
                                    <td>{{ check.id }}</td>
                                    <td>{{ check.customer.surname }} {{ check.customer.name }} {{ check.customer.second_name }}</td>
                                    <td>{{ check.date_of_participation }}</td>
                                    <td>{{ check.prize }}</td>
                                    <td>{{ check.net }}</td>
                                    <td>{{ check.status_2 }}</td>
                                    <td>
                                        <a @click="handleUpdate(check)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <!--<a @click="handleDelete(check)" class="table-actions__action&#45;&#45;edit">-->
                                            <!--<img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">-->
                                        <!--</a>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {

        data() {
            return{
                checks:[],
                skus:[],
                seen:false,
                successful:false,
                deleting:false,
                error:false,
                c_check:[],
                filter_check_id:'',
                filter_surname:'',
                filter_phone:'',

            };
        },
        created(){
            axios.post('/admin/net-checks').then(response => (this.checks = response.data));
        },
        methods: {
            create: function(event){
                axios.post('/admin/check/update_wins', new FormData(this.$refs.form))
                    .then(
                        response => (
                            axios.post('/admin/net-checks').then(response => (this.checks = response.data)),
                                this.deleting = false,
                                this.successful = true,
                                this.seen = false,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            handleUpdate: function (check) {
                this.c_check = Object.assign({}, check);
                this.c_check.created_at = moment(this.c_check.created_at ).format('DD-MM-YYYY');
                this.c_check.add_name = this.c_check.customer.surname +' '+ this.c_check.customer.name +' ' + this.c_check.customer.second_name;
                this.c_check.add_email = this.c_check.customer.email;
                this.seen = true;
            },
//            handleDelete: function (check) {
//                var check = confirm("Вы уверены, что хотите удалить?");
//                if (check == true) {
//                    axios.post('/admin/check/delete/id='+check.id)
//                        .then(
//                            response => (
//                                axios.post('/admin/checks').then(response => (this.checks = response.data)),
//                                    this.seen = false,
//                                    this.deleting = true,
//                                    this.hideDeleteMessage()
//                            )
//                        )
//                }
//            },
//            filter: function () {
//                axios.post('/admin/check/filter', {'check_id': this.filter_check_id, 'surname': this.filter_surname, 'phone': this.filter_phone})
//                    .then(
//                        response => (
//                            this.checks = response.data
//                        )
//                    );
//            },
            showForm: function(){
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_check.id = null;
             }
        }
    }

</script>

<style scoped>
    .popup__overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width:100vw;
        min-height:100vh;
        opacity: 0.4;
        background: #9E9E9E;
    }
    .check-photo{
        width: 150px;
    }
    .table-actions__action--edit{
        cursor: pointer;
    }
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        bcheck-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        bcheck-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .popup__wrap{
        width: 50%;
        overflow: scroll;
        height: 80%;
    }

    .table--checkboxes td:first-child {
        width: 5%;
    }

    .table-actions__action--edit{
        cursor: pointer;
    }
    .page-conent__open-menu {
        width: calc(100% - 250px) !important;
    }


</style>


