<template>
    <div class="container-content width-limitation">
        <div class="page-content__info-header">
            <div class="info-header__page-info">
                <span class="info-header__page-name">Благодарности бабушкам</span>
            </div>
        </div>
        <div class="container-content__wrapper">
            <div class="flex flex--row flex--grid columns">
                <div class="input-band flex flex--column flex--grid columns__auto-column">
                    <a  href="http://xn--90aiakgkqi1l.xn--p1ai/admin/download/thanks" target="_blank" class=" admin-block__content--paddingbtn">Выгрузить данные</a>
                </div>
            </div>
            <!--<form method="POST" >-->
                <!--<div class="flex flex&#45;&#45;row">-->
                    <!--<div class="flex&#45;&#45;block admin-block">-->
                        <!--<div class="admin-block__header">Поиск пользователя</div>-->
                        <!--<div class="admin-block__content">-->
                            <!--<div class="flex flex&#45;&#45;row flex&#45;&#45;grid columns">-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>№ Заявки</label>-->
                                    <!--<input v-model="filter_thank_id" type="number"  name="thank_id"  >-->
                                <!--</div>-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>Фамилия</label>-->
                                    <!--<input v-model="filter_surname" type="еуче"  name="surname"  >-->
                                <!--</div>-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<label>Телефон</label>-->
                                    <!--<input v-model="filter_phone" type="text"  name="phone"  >-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="flex flex&#45;&#45;row flex&#45;&#45;grid columns">-->
                                <!--<div class="input-band flex flex&#45;&#45;column flex&#45;&#45;grid columns__auto-column">-->
                                    <!--<input type="button" value="Поиск заявки" @click="filter" class=" admin-block__content&#45;&#45;padding btn btn&#45;&#45;blue">-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->

            <div v-if="successful" class="success-publish" >Статус был успешно обновлён.</div>
            <div v-if="deleting" class="success-delete" >Благодароность была успешно удалена.</div>
            <div class="popup popup--new-el" v-bind:class="{ 'popup--active': seen }">
                <div class="popup__overlay" @click="seen = false">
                </div>
                <div class="popup__wrap">
                    <div class="popup__close" v-on:click="seen = false"></div>
                    <form method="POST" @submit.prevent="create" ref="form">
                        <div class="popup__title">
                            Благодарность
                        </div>
                        <div class="popup__content popup__content--full">
                            <input readonly hidden name="thank_id" v-model="c_thank.id" />
                            <p></p>
                            <label for="name" class="columns__33p-column">Бабушке</label>
                            <input readonly v-model="c_thank.grand_name" type="text"  class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">ФИО</label>
                            <input readonly v-model="c_thank.name" type="text" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Дата</label>
                            <input readonly v-model="c_thank.created_at" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Сообщение</label>
                            <input readonly v-model="c_thank.message" type="text" name="" class="columns__50p-column">
                            <p></p>
                            <label for="name" class="columns__33p-column">Статус</label>
                            <select required v-model="c_thank.status" name="status" >
                                <option :key="'На модерации'" :label="'На модерации'" :value="'На модерации'">На модерации</option>
                                <option :key="'Подтверждено'" :label="'Подтверждено'" :value="'Подтверждено'">Подтверждено</option>
                            </select>
                        </div>
                        <div class="popup__control-panel">
                            <input type="submit" class="btn btn--green" value="Обновить">
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex flex--row">
                <div class="flex--block admin-block">
                    <div class="table-wrapper">
                        <div class="table-wrapper__wrap">
                            <table class="table table--justify-td table--thankboxes">
                                <thead>
                                <tr>
                                    <td>Бабушке</td>
                                    <td>ФИО</td>
                                    <td>Сообщение</td>
                                    <td>Видео</td>
                                    <td>Изображение</td>
                                    <td>Статус</td>
                                    <td>Модератор</td>

                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="thank in thanks">
                                    <td>{{ thank.grand_name }}</td>
                                    <td>{{ thank.name }}</td>
                                    <td>{{ thank.message }}</td>
                                    <td><a v-if="thank.video" target="_blank" :href="'http://xn--90aiakgkqi1l.xn--p1ai/public/storage/Video/'+thank.video" >Видео</a></td>
                                    <td><a v-if="thank.image" target="_blank" :href="'http://xn--90aiakgkqi1l.xn--p1ai/public/storage/GrandImage/'+thank.image"  >Изображение</a></td>
                                    <td>{{ thank.status }}</td>
                                    <td>{{ thank.moderator }}</td>
                                    <td>
                                        <a @click="handleUpdate(thank)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-edit.png" alt="edit">
                                        </a>
                                        <a @click="handleDelete(thank)" class="table-actions__action--edit">
                                            <img src="/public/admin/img/page-actions/page-action-remove.png" alt="edit">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const moment = require('moment');
    require('moment/locale/es');
    Vue.use(require('vue-moment'), {
        moment
    });
    export default {

        data() {
            return{
                thanks:[],
                skus:[],
                seen:false,
                successful:false,
                deleting:false,
                error:false,
                c_thank:[],


            };
        },
        created(){
            axios.post('/admin/thanks').then(response => (this.thanks = response.data));
        },
        methods: {
            create: function(event){
                axios.post('/admin/thank/update', new FormData(this.$refs.form))
                    .then(
                        response => (
                            axios.post('/admin/thanks').then(response => (this.thanks = response.data)),
                                this.deleting = false,
                                this.successful = true,
                                this.seen = false,
                                this.hideSuccessMessage()
                        )
                    )
                    .catch(
                        error => (
                            this.error = true,
                                this.errors = error.response.data.errors
                        ));
            },
            hideSuccessMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.successful = false;
                }, 2000)
            },
            hideDeleteMessage: function(){
                var _this = this;
                setTimeout(function() {
                    _this.deleting = false;
                }, 2000)
            },
            handleUpdate: function (thank) {
                this.c_thank = Object.assign({}, thank);
                this.c_thank.created_at = moment(this.c_thank.created_at ).format('DD-MM-YYYY');
                this.seen = true;
            },
            handleDelete: function (thank) {
                var thank_confirm = confirm("Вы уверены, что хотите удалить?");
                if (thank_confirm == true) {
                    axios.post('/admin/thank/delete/id='+thank.id)
                        .then(
                            response => (
                                axios.post('/admin/thanks').then(response => (this.thanks = response.data)),
                                    this.seen = false,
                                    this.deleting = true,
                                    this.hideDeleteMessage()
                            )
                        )
                }
            },
//            filter: function () {
//                axios.post('/admin/thank/filter', {'thank_id': this.filter_thank_id, 'surname': this.filter_surname, 'phone': this.filter_phone})
//                    .then(
//                        response => (
//                            this.thanks = response.data
//                        )
//                    );
//            },
            showForm: function(){
                this.successful = false;
                this.deleting = false;
                this.seen = true;
                this.c_thank.id = null;
             }
        }
    }

</script>

<style scoped>
    .popup__overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-width:100vw;
        min-height:100vh;
        opacity: 0.4;
        background: #9E9E9E;
    }

    .thank-photo{
        width: 430px;
    }
    .table-actions__action--edit{
        cursor: pointer;
    }
    .success-publish{
        color: rgb(255, 255, 255);
        background-color: rgb(76, 175, 80);
        margin-bottom: 50px;
        height: 50px;
        bthank-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .success-delete{
        color: rgb(255, 255, 255);
        background-color: #F44336;
        margin-bottom: 50px;
        height: 50px;
        bthank-radius: 33px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }

    .popup__wrap{
        width: 50%;
        overflow: scroll;
        height: 80%;
    }

    .table--thankboxes td:first-child {
        width: 5%;
    }

    .table-actions__action--edit{
        cursor: pointer;
    }
    .page-conent__open-menu {
        width: calc(100% - 250px) !important;
    }


</style>


