<template>
    <div class="swiper-wrapper">
        <div class="swiper-slide menu swiper-slide-active">
            <a href="#" class="main-menu__logo">
                <span>Юбилейное</span>
            </a>
            <ul>
                <li class="main-menu__item">
                    <div class="main-menu__parent-item">
                        <a href="/admin/customers" class="main-menu__link">
                            <svg viewBox="0 0 50 50" class="menu-ico"><path d="M30.9,32.5c-0.1-1.6-0.1-2.7-0.1-4.2c0.7-0.4,2-2.8,2.3-4.9c0.6,0,1.5-0.6,1.7-2.8c0.1-1.2-0.4-1.9-0.8-2.1 C35,15.7,36.9,7,30.5,6.1c-0.7-1.2-2.4-1.8-4.6-1.8c-8.9,0.2-9.9,6.7-8,14.2c-0.3,0.2-0.9,0.9-0.8,2.1c0.3,2.2,1.2,2.8,1.7,2.8 c0.2,2.1,1.6,4.5,2.3,4.9c0,1.5,0.1,2.6-0.1,4.2C19.4,37.2,7.5,35.9,7,45h38C44.5,35.9,32.7,37.2,30.9,32.5z"></path></svg>
                            <span class="menu__link-text">Пользователи</span>
                        </a>
                    </div>
                </li>

                <li class="main-menu__item">
                    <div class="main-menu__parent-item sub-menu">
                        <a href="#" class="main-menu__link">
                            <svg class="menu-ico" viewBox="0 0 512 512">
                                <path d="M398.6,169.2c-0.9-2.2-2-4.3-3.5-6.1l-83.8-91.7c-1.9-2.1-4.2-3.6-6.7-4.9c-2.9-1.5-6.1-2.1-9.5-2.1H135.2 c-12.4,0-22.7,10.6-22.7,23.9v335.2c0,13.4,10.3,24.9,22.7,24.9h243.1c12.4,0,22.2-11.5,22.2-24.9V179.4 C400.5,175.8,400,172.3,398.6,169.2z M160.5,178.6c0-1.5,1.8-2.1,3.4-2.1h70.8c1.6,0,2.8,0.6,2.8,2.1v10.8c0,1.4-1.1,3.1-2.8,3.1 h-70.8c-1.6,0-3.4-1.7-3.4-3.1V178.6z M160.5,306.6c0-1.5,1.8-2.1,3.4-2.1h122.2c1.6,0,2.4,0.6,2.4,2.1v10.8c0,1.4-0.7,3.1-2.4,3.1 H163.9c-1.6,0-3.4-1.7-3.4-3.1V306.6z M320.5,381.4c0,1.4-0.7,3.1-2.4,3.1H163.9c-1.6,0-3.4-1.7-3.4-3.1v-10.8 c0-1.5,1.8-2.1,3.4-2.1h154.2c1.6,0,2.4,0.6,2.4,2.1L320.5,381.4L320.5,381.4z M352.5,253.4c0,1.4-0.7,3.1-2.4,3.1H163.9 c-1.6,0-3.4-1.7-3.4-3.1v-10.8c0-1.5,1.8-2.1,3.4-2.1h186.2c1.6,0,2.4,0.6,2.4,2.1L352.5,253.4L352.5,253.4z M305.6,177.5 c-5.6,0-11.1-5.2-11.1-11.3v-66l71.2,77.3H305.6z"/>
                            </svg>
                            <span class="menu__link-text">Чеки</span>
                        </a>
                        <div class="main-menu__open-sub-menu"><svg viewBox="0 0 3.56 6.04"><line x1="0.27" y1="5.78" x2="3.27" y2="2.78"/><line x1="3.3" y1="3.27" x2="0.3" y2="0.27"/></svg></div>
                    </div>
                    <div class="main-menu__sub-menu">
                        <a href="/admin/all-checks" class="main-menu__link main-menu__link-sub-menu">Все чеки</a>
                        <a href="/admin/net-checks" class="main-menu__link main-menu__link-sub-menu">Чеки победители</a>
                    </div>
                </li>
                <li class="main-menu__item">
                    <div class="main-menu__parent-item">
                        <a href="/admin/codes" class="main-menu__link">
                            <svg class="menu-ico" viewBox="0 0 512 512">
                                <path d="M398.6,169.2c-0.9-2.2-2-4.3-3.5-6.1l-83.8-91.7c-1.9-2.1-4.2-3.6-6.7-4.9c-2.9-1.5-6.1-2.1-9.5-2.1H135.2 c-12.4,0-22.7,10.6-22.7,23.9v335.2c0,13.4,10.3,24.9,22.7,24.9h243.1c12.4,0,22.2-11.5,22.2-24.9V179.4 C400.5,175.8,400,172.3,398.6,169.2z M160.5,178.6c0-1.5,1.8-2.1,3.4-2.1h70.8c1.6,0,2.8,0.6,2.8,2.1v10.8c0,1.4-1.1,3.1-2.8,3.1 h-70.8c-1.6,0-3.4-1.7-3.4-3.1V178.6z M160.5,306.6c0-1.5,1.8-2.1,3.4-2.1h122.2c1.6,0,2.4,0.6,2.4,2.1v10.8c0,1.4-0.7,3.1-2.4,3.1 H163.9c-1.6,0-3.4-1.7-3.4-3.1V306.6z M320.5,381.4c0,1.4-0.7,3.1-2.4,3.1H163.9c-1.6,0-3.4-1.7-3.4-3.1v-10.8 c0-1.5,1.8-2.1,3.4-2.1h154.2c1.6,0,2.4,0.6,2.4,2.1L320.5,381.4L320.5,381.4z M352.5,253.4c0,1.4-0.7,3.1-2.4,3.1H163.9 c-1.6,0-3.4-1.7-3.4-3.1v-10.8c0-1.5,1.8-2.1,3.4-2.1h186.2c1.6,0,2.4,0.6,2.4,2.1L352.5,253.4L352.5,253.4z M305.6,177.5 c-5.6,0-11.1-5.2-11.1-11.3v-66l71.2,77.3H305.6z"/>
                            </svg>
                            <span class="menu__link-text">Коды</span>
                        </a>
                    </div>
                </li>
                <li class="main-menu__item">
                    <div class="main-menu__parent-item">
                        <a href="/admin/thanks" class="main-menu__link">
                            <svg class="menu-ico" viewBox="0 0 512 512">
                                <path d="M398.6,169.2c-0.9-2.2-2-4.3-3.5-6.1l-83.8-91.7c-1.9-2.1-4.2-3.6-6.7-4.9c-2.9-1.5-6.1-2.1-9.5-2.1H135.2 c-12.4,0-22.7,10.6-22.7,23.9v335.2c0,13.4,10.3,24.9,22.7,24.9h243.1c12.4,0,22.2-11.5,22.2-24.9V179.4 C400.5,175.8,400,172.3,398.6,169.2z M160.5,178.6c0-1.5,1.8-2.1,3.4-2.1h70.8c1.6,0,2.8,0.6,2.8,2.1v10.8c0,1.4-1.1,3.1-2.8,3.1 h-70.8c-1.6,0-3.4-1.7-3.4-3.1V178.6z M160.5,306.6c0-1.5,1.8-2.1,3.4-2.1h122.2c1.6,0,2.4,0.6,2.4,2.1v10.8c0,1.4-0.7,3.1-2.4,3.1 H163.9c-1.6,0-3.4-1.7-3.4-3.1V306.6z M320.5,381.4c0,1.4-0.7,3.1-2.4,3.1H163.9c-1.6,0-3.4-1.7-3.4-3.1v-10.8 c0-1.5,1.8-2.1,3.4-2.1h154.2c1.6,0,2.4,0.6,2.4,2.1L320.5,381.4L320.5,381.4z M352.5,253.4c0,1.4-0.7,3.1-2.4,3.1H163.9 c-1.6,0-3.4-1.7-3.4-3.1v-10.8c0-1.5,1.8-2.1,3.4-2.1h186.2c1.6,0,2.4,0.6,2.4,2.1L352.5,253.4L352.5,253.4z M305.6,177.5 c-5.6,0-11.1-5.2-11.1-11.3v-66l71.2,77.3H305.6z"/>
                            </svg>
                            <span class="menu__link-text">Благодарности</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="swiper-slide menu_btn">
        </div>
    </div>
</template>


<script>
    export default {

    }

</script>




